<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>Editing Note</h2>
        <%= link_to 'Show', @note %> |
        <%= link_to 'Back', notes_path %>
        <hr>
        <%= render 'form' %>
    </div>
  </div>
</div>
