<%
title "Notes"
description "SheetHub Notes"
keywords %w(features benefits)
%>

<div class="white-container">
<div id="features" class="container">
    <div class="row">
    <div class="col-xs-12">
        <h1>SheetHub Notes</h1>
        <h2>Write Sheet Music and Tablature live, right in your browser!</h2>
        <hr>
    </div>
    </div>

    <%= render 'form' %>
</div>
</div>
