<%
title "Notes"
description "SheetHub Notes"
keywords %w(features benefits)
%>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2 class="text-center">New Note</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <%= render 'form' %>
    </div>
</div>
