<% if sheets.any? %>
  <table class="table white-rows">
    <thead>
      <tr class="active">
        <th>Title</th>
        <th>Visibility</th>
        <th>Purchases</th>
        <th>Total Revenue</th>
        <th>Total Earnings</th>
        <th>Average Amount</th>
        <th>Max Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% sheets.each do |sheet| %>
        <%= render 'sheets/sheet_dashboard', sheet: sheet %>
      <% end %>
    </tbody>
  </table>
  <div id="paginator" class="text-center">
    <%= paginate sheets %>
  </div>
<% else %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em> You have no published works</h2>
<% end %>
