<% if sheets.each do |sheet| %>
  <table class="table white-rows">
    <thead>
      <tr class="active">
        <th>Sheet</th>
        <th>Shareable Link</th>
        <th>Files</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'sheets/sheet_dashboard', sheet: sheet %>
    </tbody>
  </table>
  <div id="paginator" class="text-center">
    <%= paginate sheets %>
  </div>
<% end.empty? %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em> You have no published works</h2>
  <a href="<%= new_sheet_path %>" class="btn btn-success btn-sleek center-block"><span class="fa fa-cloud-upload"></span> Upload</a>
<% end %>