<% if user.premium? %>
<hr>
<div class="panel panel-default" style="width: 20%">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" href="#downgrade" aria-expanded="false">
        Downgrade?
      </a>
    </h4>
  </div>
  <div id="downgrade" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
        <p class="bg-danger"><em class="fa fa-info-circle"></em> You may need to delete some free sheets before you can downgrade to a lower plan. </p>
        <p class="bg-danger"><em class="fa fa-info-circle"></em> You will lose access to your current <%= user.membership_type.titleize %> membership features. </p>

        <a href="<%= subscriptions_downgrade_path(:basic) %>"><button type="button" class="btn btn-default"><em class="fa fa-frown-o"></em> Downgrade to Basic</button></a>
    </div>
  </div>
</div>
<% end %>