<% if orders.any? %>
  <table class="table white-rows">
    <thead>
      <tr class="active">
        <th>Sheet</th>
      </tr>
    </thead>
    <tbody>
    <% orders.each do |order| %>
      <%= render 'sheets/sheet_library', order: order, sheet: order.sheet %>
    <% end %>
    </tbody>
  </table>
  <div id="paginator" class="text-center">
    <%= paginate orders %>
  </div>
<% else %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
  <h2 class="text-center">You have not purchased any sheets.</h2>
<% end %>
