<% if orders.any? %>
    <p class="bg-info"><i class="fa fa-thumbs-up"></i> Thank you for your purchase! Enjoy <strong>Unlimited Access</strong> and future updates forever.</p>
<% end %>

<% if orders.each do |order| %>
  <table class="table white-rows">
    <thead>
      <tr class="active">
        <th>Sheet</th>
        <th>Shareable Link</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
        <%= render 'sheets/sheet_library', sheet: order.sheet %>
    </tbody>
  </table>
  <div id="paginator" class="text-center">
    <%= paginate orders %>
  </div>
<% end.empty? %>
  <h2 class="text-center"><i class="fa fa-eye-slash"></i> You have not purchased any sheets.</h2>
  <a href="<%= root_path %>" class="btn btn-success btn-sleek center-block"><span class="fa fa-picture"></span> Browse</a>
<% end %>