<div id="likes">
  <% if likes.each do |sheet| %>
  <%= render 'sheets/sheet', sheet: sheet %>
  <% end.empty? %>
  <h2><i class="fa fa-eye-slash"></i></h2>
  <h2>No Likes yet!</h2>
  <% end %>
</div>
