<table class="table table-bordered">
<h3>Membership Details</h3>
  <thead>
    <tr class="info">
      <th>
        Membership
      </th>
      <th>
        <% if user.premium? %>
          <%= render 'layouts/user_badge', user: user%>
        <% else %>
          <strong>Basic</strong>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Commercial Sheet Uploads
      </td>
      <td><strong>Unlimited</strong></td>
    </tr>
    <tr>
      <td>
        Percentage earnings
      </td>
      <td><strong><%= "#{number_to_percentage(user.royalty_percentage * 100, precision: 0)}" %></strong></td>
    </tr>
    <tr>
      <td>
        Free Sheet Uploads
      </td>
      <td><strong><%= user.remaining_sheet_quota%> of <%= user.sheet_quota %> remaining</strong></td>
    </tr>
  </tbody>
</table>