<div id="sheets">
  <% if orders.each do |order| %>
  <%= render 'sheets/sheet', sheet: order.sheet %>
  <% end.empty? %>
  <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
  <h2>No Sheets yet!</h2>
  <% end %>
</div>
<div id="paginator" class="text-center">
  <%= paginate orders %>
</div>