<% if current_user == @user %>
<div class="tab-pane" id="private-sheets">
  <% if @private_sheets.any? %>
    <%= render '/sheets/sheets', sheets: @private_sheets %>
  <% else %>
    <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
    <h2>You have no private sheets.</h2>
    <a href="<%= new_sheet_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
  <% end %>
</div>
<% end %>