<div id="banner" class="profile-banner">
    <%= image_tag(user.avatar_url, class: "profile-avatar") %>
    <div class="profile-bio">
      <h1><%= user.username %></h1>
      <p class="tagline"><%= user.tagline %></p>
    </div>
</div>