<div class="panel panel-info">
  <div class="panel-heading"><em class="fa fa-globe"></em> Recent Sales Quantity By Country (Past Month)</div>
  <div class="panel-body">
      <%= geo_chart sales_past_month_by_country %>
  </div>
</div>