<h2>Sales Statistics</h2>
<hr>
<div id="sales-stats" class="row">
  <div class="col-xs-3">
    <h1 class="text-center"><%= all_time_sales.size%></h1>
    <p class="text-center">commercial works</p>
  </div>
  <div class="col-xs-3">
    <h1 class="text-center"><%= number_to_currency(current_user.all_time_earnings) %></h1>
    <p class="text-center">all-time earnings</p>
  </div>
  <div class="col-xs-3">
    <h1 class="text-center"><%= recent_sales.size %></h1>
    <p class="text-center">sales past month</p>
  </div>
  <div class="col-xs-3">
    <h1 class="text-center"><%= number_to_currency(current_user.earnings_past_month) %></h1>
    <p class="text-center">earnings past month</p>
  </div>
</div>