<%
title "All Users"
description "Everyone at SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><em class="fa fa-users %>"></em><a href="<%= sheets_url %>">Discover</a></li>
            <li><%= link_to "Users", all_users_path %></li>
        </ol>
        <hr>
        <div id="all-users">
          <%= render 'devise/registrations/users', users: @users %>
        </div>
    </div>
    </div>
</div>