<% title "Dashboard" %>

<div class="container">
  <div class="row">
  <%= render 'user_dashboard_sidebar' %>
  <div class="col-xs-10">
      <h1>My Works</h1>
      <%= render 'dashboard_sheets', sheets: @sheets %>
  </div>
</div>