<% title "Dashboard" %>

<div class="container">
  <div class="row">
  <%= render 'user_dashboard_sidebar' %>
  <div class="col-xs-10 white-container">
      <h2>My Works <a href="<%= sheet_upload_url %>" class="btn btn-default pull-right"><em class="fa fa-cloud-upload"></em> Upload</a></h2>
      <hr>
      <%= render 'dashboard_sheets', sheets: @sheets %>
  </div>
</div>
