<% title "Notifications Settings"  %>

<div class="container">
    <div class="row">
      <h1>Notifications Settings</h1>

      <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="<%= user_settings_path %>"><i class="fa fa-cog"></i> Profile</a></li>
          <li role="presentation"><a href="<%= user_password_settings_path %>"><i class="fa fa-key"></i> Password</a></li>
          <li role="presentation"><a href="<%= user_membership_settings_path %>"><i class="fa fa-star"></i> Membership</a></li>
          <li role="presentation" class="active"><a href="<%= user_notifications_settings_path %>"><i class="fa fa-paper-plane"></i> Notifications</a></li>
        </ul>
      </div>

        <div class="col-xs-10 white-container">

        </div>
  </div>
</div>
