<% title "My Library" %>

<div class="container">
  <div class="row">
  <%= render 'user_dashboard_sidebar' %>
  <div class="col-xs-10 white-container">
      <h2>My Library <a href="<%= sheets_url %>" class="btn btn-default pull-right"><span class="fa fa-eye"></span> Discover music</a></h2>
      <hr>
      <%= render 'library_sheets', orders: @purchases %>
  </div>
</div>
</div>