<% title "My Library" %>

<div class="container">
  <div class="row">
  <div class="col-xs-12">
      <h1>My Library</h1>
      <%= render 'library_sheets', orders: @purchases %>
  </div>
</div>
</div>