<% title "My Library" %>

<div class="container">
  <div class="row">
  <%= render 'user_dashboard_sidebar' %>
  <div class="col-xs-10">
      <h1>My Library</h1>
      <%= render 'library_sheets', orders: @purchases %>
      <a href="<%= discover_url %>" class="btn btn-success"><span class="fa fa-eye"></span> Discover</a>
  </div>
</div>
</div>