<% if @user %>
  <% title "#{@user.username}'s Profile"  %>

  <%= render 'profile_banner', user:@user %>

  <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <!-- Nav tabs -->
          <ul class="nav nav-pills">
            <li class="active"><a href="#sheets"><i class="fa fa-music"></i> Sheet Music <span class="badge"><%= @sheets.count %></span></a></li>

            <li><a href="<%= user_likes_path(@user.username) %>"><i class="fa fa-thumbs-up"></i> Likes </a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <%= render 'sheets_tab_content' %>
          </div>


        </div>
    </div>
  <% else %>
    <% title "User not found" %>
    <h2>User not found</h2>
  <% end %>

  </div>