<% if @user %>
  <div id="banner">
      <%= image_tag(@user.image, class: "profile-avatar") %>
      <h2><%= @user.username %></h2>
  </div>

  <div id="page-content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <%= render '/sheets/sheets' %>
      </div>
    </div>
  </div>
<% else %>
  <h2>User not found</h2>
<% end %>