<% title "Your Purchases" %>

<% if current_user %>
  <%= render 'profile_banner', user:current_user %>

  <div class="container sheets-container">
    <div class="row">
    <div class="col-xs-12">
        <h2>Your Purchases</h2>
        <%= render 'purchased_sheets_tab_content' %>
    </div>
  </div>
<% else %>
  <h2>You need to be logged in</h2>
<% end %>
  </div>