<% title "Purchases" %>

<% if current_user %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h3>Your Purchases</h3>
        <div id="purchased-sheets">
          <% if @purchases.any? %>
            <p class="bg-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Thank you for your purchase! Enjoy <strong>Unlimited Access</strong> and future updates forever.</p>
            <%= render '/sheets/sheets', sheets: @purchases %>
          <% else %>
            <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
            <h2>You have not purchased any sheets.</h2>
            <h4>Add sheets to your cart and check out amazing music.</h4>
            <h4>You can review and download your purchased sheets here.</h4>
            <a href="<%= root_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="glyphicon glyphicon-cloud-upload"></span> Browse</a>
          <% end %>
        </div>
    </div>
  </div>
<% else %>
  <h2>You need to be logged in</h2>
<% end %>
  </div>