<% title "Purchases" %>

<% if current_user %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h1>My Purchases</h1>
        <div id="sheets">
          <% if @purchases.any? %>
            <p class="bg-info"><i class="fa fa-thumbs-up"></i> Thank you for your purchase! Enjoy <strong>Unlimited Access</strong> and future updates forever.</p>
            <%= render 'orders', orders: @purchases %>
          <% else %>
            <p class="bg-info"><span class="fa fa-heart-empty"></span> Add sheets to your collection and check out amazing music. You can review and download your purchased sheets here.</p>
            <h2 class="text-center"><i class="fa fa-eye-slash"></i></h2>
            <h2 class="text-center">You have not purchased any sheets.</h2>
            <a href="<%= root_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="fa fa-picture"></span> Browse</a>
          <% end %>
        </div>
    </div>
  </div>
<% else %>
  <h2>You need to be logged in</h2>
<% end %>
  </div>