<% title "Your Sales"  %>

<%= render 'profile_banner', user:current_user %>

<div class="container sheets-container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Your Sales</h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="#sales-by-date" role="tab" data-toggle="tab"> Sales By Date</a></li>
          <li><a href="#sales-by-title" role="tab" data-toggle="tab"> Sales By Title</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <%= render 'sales_by_date_tab_content' %>
          <%= render 'sales_by_title_tab_content' %>
        </div>
      </div>
  </div>
