<% title "Trash" %>

<% if current_user %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h3>Your Deleted Sheets</h3>
        <p class="bg-danger">Deleted sheets that remain here for more than 72 hours will be permanently deleted.</p>
        <div id="deleted-sheets">
          <% if @deleted_sheets.any? %>
            <%= render '/sheets/deleted_sheets', sheets: @deleted_sheets %>
            <%= paginate @deleted_sheets, remote: true %>
          <% else %>
            <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
            <h2>You have no deleted sheets.</h2>
          <% end %>
        </div>
    </div>
  </div>
<% else %>
  <h2>You need to be logged in</h2>
<% end %>
  </div>