<% title "Trash" %>

<div class="container">
  <div class="row">
  <%= render 'user_dashboard_sidebar' %>
  <div class="col-xs-10 white-container">
    <h2>My Deleted Sheets</h2>
    <hr>
    <p class="bg-danger"><em class="fa fa-trash"></em> Here you can restore your deleted sheets at any time.</p>
    <div id="deleted-sheets">
      <% if @deleted_sheets.any? %>
        <%= render '/sheets/deleted_sheets', sheets: @deleted_sheets %>
      <% else %>
        <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
        <h2 class="text-center">You have no deleted sheets.</h2>
      <% end %>
    </div>
  </div>
  </div>
</div>