<h1 class="error">Sheet Out of Stock</h1>
<p>Hi <%= @publisher.display_name %>, </p>
<p>Whoa! <%= link_to @sheet.title, @sheet %> recently ran out of stock! Acquire more licenses from the publisher and update your purchase limits to continue selling <%= @sheet.title %>! Visit your works dashboard once you've acquired more licenses.
</p>
<a href="<%= user_dashboard_url %>" class="btn">Go to My Works</a>
