<h1 class="error">'<%= @sheet.title %>' permanently deleted</h1>
<p>Hi <%= @publisher.display_name %>, </p>
<p><%= link_to @sheet.title, sheet_url(@sheet) %> has been deleted permanently, forever.</p>
