html {

}

body {
    margin: 0px;
}

div#sh-embed {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 400px;
  height: 300px;
  overflow:hidden;
  border:1px solid #eee;
}

img#sh-avatar {
  position:absolute;
  top:0;
  margin: 10px;
  border: 1px solid #eee;
  width: 50px;
  height: 50px;
  overflow-y: hidden;
  border-radius: 1000px;
}

img#sh-preview {
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
}

div#sh-preview-container {
    width: 400px;
    height: 300px;
    overflow:hidden;
}

.sh-price-tag {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  padding: 10px 8px 10px 6px;
  color: #5cb85c;
  background: #faebcc;
  display: block;
  position: absolute;
  left: 352.5px;
  top: 15px;
  z-index: 5;
}

.sh-price-tag:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 18px;
    border-right-color: #faebcc;
    position: absolute;
    top: 0;
    right: 100%;
}

#sh-footer {
  font-family: 'Source Sans Pro', sans-serif;
  background: #D9EDF6;
  font-size: 12px;

  color: #428bca;
  margin: 0px;
  text-transform: uppercase;
  text-align:center;
}

a {
  text-decoration:none;
}