<div class="panel panel-success">
    <div class="panel-body bg-success">
        <% if current_user && @sheet.purchased_by?(current_user) %>
            <span class="sheet-price text-center"><p><span class="glyphicon glyphicon-ok"></span> PURCHASED</p></span>
        <% elsif current_user && @cart.include?(@sheet) %>
            <span class="sheet-price text-center"><p><span class="glyphicon glyphicon-ok"></span> IN CART</p></span>
        <% elsif @sheet.is_free? %>
            <span class="sheet-price text-center"><p><span class="glyphicon glyphicon-ok"></span> FREE</p></span>
        <% else %>
            <span class="sheet-price col-xs-4"><p><%= "$#{@sheet.price}" %></p></span>
            <a href="<%= carts_add_path(:sheet_id => @sheet.id) %>" data-method="post"><button type="button" class="btn btn-success btn-lg col-xs-8"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button></a>
        <% end %>
    </div>
</div>
