<div class="panel panel-success">
    <div class="panel-body bg-success">
        <% if @sheet.is_free? %>
            <span class="sheet-price text-center"><p>FREE</p></span>
        <% else %>
            <span class="sheet-price col-xs-4"><p><%= cents_to_dollars(@sheet.price_cents) %></p></span>
            <a href="<%= purchase_sheet_path(@sheet) %>"><button type="button" class="btn btn-success btn-lg col-xs-8"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</button></a>
        <% end %>
    </div>
</div>