<% if @current_user.present? && current_user == @sheet.user %>
<a href="<%= edit_sheet_path(@sheet) %>">
    <button type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-edit"></i> Edit</button>
</a>
<% end %>