<% if likes.each do |vote| %>
  <%= render 'fan', fan: vote.voter %>
  <div id="paginator" class="text-center">
    <%= paginate likes %>
  </div>
<% end.empty? %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
  <h2 class="text-center">No fans yet!</h2>
<% end %>