<div id="sheets">
  <% if sheets.each do |sheet| %>
  <%= render 'sheets/sheet', sheet: sheet %>
  <% end.empty? %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
  <h2 class="text-center">Nothing here yet!</h2>
  <% end %>
</div>