<div id="filter-wrapper">
  <ul class="filter-nav">
    <li>
      <h5>Show only</h5>
    </li>
    <li>
      <a href="#">Shortcuts</a>
    </li>
    <li>
      <h5>Instruments</h5>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>
