<a href="<%= report_sheet_path(@sheet) %>"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#flagModal"><span class="glyphicon glyphicon-flag"></span> Report</button></a>
