<% if tags.each do |tag| %>
    <a href="<%= "/#{tag_type}/#{tag}" %>">
    <span class="tag">
        <em class="fa fa-<%= tag_icon(tag_type) %>"></em>
        <%= tag.name.titleize %>
    </span>
    </a>
<% end.empty? %>
    <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
    <h2 class="text-center">None yet!</h2>
<% end %>