<% if tags.each do |tag| %>
    <% cache(tag) do %>
    <a href="/<%= tag_type %>/<%= tag %>">
    <span class="tag" data-toggle="tooltip" data-placement="top">
        <i class="fa fa-<%= tag_icon(tag_type) %>"></i>
        <%= tag.name.titleize %>
    </span>
    </a>
    <% end %>
<% end.empty? %>
    <h2 class="text-center"><i class="fa fa-eye-slash"></i></h2>
    <h2 class="text-center">None yet!</h2>
<% end %>