<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SheetHub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="<%= sheets_path =%>"><span class="glyphicon glyphicon-picture"></span> Browse</a></li>
        <li><a href="<%= new_sheet_path =%>"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">About</a></li>
            <li><a href="http://forum.sheethub.co">Community</a></li>
            <li><a href="http://blog.sheethub.co">Blog</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-form input-group search-bar">
        <div class="has-feedback">
            <input type="text" class="form-control" placeholder="Search for music..." />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </div>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>