<button id="toggle-canvas-btn" class="btn btn-default" fullwidth=false><span class="fa fa-arrows-alt"></i></button>
<canvas id="pdf-canvas"></canvas>
<div class="row pdf-controls">
  <button class="disabled col-xs-5 pdf-canvas-prev btn btn-default"><em class="fa fa-chevron-left"></em> Previous Page</button>
  <span class="pdf-canvas-pagenum col-xs-2 text-center">Page <span class="pdf-canvas-page-num"></span> of <span class="pdf-canvas-page-count"></span></span>
  <button class="disabled col-xs-5 pdf-canvas-next btn btn-default">Next Page <i class="fa fa-chevron-right"></i></button>
</div>