<div id="related">

    <div id="related-tags">
        <h1><span class="glyphicon glyphicon-heart"></span> You might also like...</h1>
        <span class="tag">
            yasunori mitsuda
        </span>
        <span class="tag">
            fingerstyle
        </span>
        <span class="tag">
            guitar
        </span>
        <span class="tag">
            chrono cross
        </span>
        <span class="tag">
            yoko shimomura
        </span>
        <span class="tag">
            drammatica
        </span>
        <span class="tag">
            legends of mana
        </span>
        <span class="tag">
            outbreak company
        </span>
    </div>
    <div id="related-sheets">
        <div class="related-sheet">
            <em>guitar</em>
            <h4>Another Guldove</h4>
            <h5>Yasunori Mitsuda</h5>
        </div>
        <div class="related-sheet">
            <em>guitar</em>
            <h4>Another Guldove</h4>
            <h5>Yasunori Mitsuda</h5>
        </div>
        <div class="related-sheet">
            <em>guitar</em>
            <h4>Another Guldove</h4>
            <h5>Yasunori Mitsuda</h5>
        </div>
        <div class="related-sheet">
            <em>guitar</em>
            <h4>Another Guldove</h4>
            <h5>Yasunori Mitsuda</h5>
        </div>
    </div>
</div>