<div class="panel panel-info">
    <div class="panel-heading"><i class="fa fa-cloud-download"></i> Additional Files</div>
    <div class="panel-body">

    <ul id="sheet-files" class="editable">
    <% for asset in @sheet.assets %>
        <%= render 'assets/asset', asset: asset %>
    <% end %>
    </ul>

    <div id="assets_container"></div>

    <%= s3_uploader_form id: "s3-uploader",
      data: {:sheet_id => @sheet.id},
      key: "files/{unique_id}-#{SecureRandom.hex}/${filename}",
      key_starts_with: "files/",
      callback_url: assets_path,
      acl: "private",
      expiration: 24.hours.from_now.utc.iso8601,
      max_file_size: 10.megabytes do %>
      <%= file_field_tag :file, multiple: true %>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
    <div id="upload_{%=o.unique_id%}" class="upload">
      {%=o.name%}
      <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
    </div>
    </script>

    </div>
</div>