<div class="share-buttons">
    <%= link_to("https://www.facebook.com/sharer/sharer.php?u=#{sheet_url(sheet)}", 'data-popup' => true )  do %>
        <em class="fa fa-facebook-square"></em>
    <% end %>
    <%= link_to("https://plus.google.com/share?url=#{sheet_url(sheet)}", 'data-popup' => true )  do %>
        <em class="fa fa-google-plus-square"></em>
    <% end %>
    <%= link_to("https://twitter.com/home?status=Check out #{sheet.title} on SheetHub! #{sheet_url(sheet)}", 'data-popup' => true )  do %>
        <em class="fa fa-twitter-square"></em>
    <% end %>
</div>