<div class="share-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= sheet_url(sheet) %>">
        <button class="btn btn-facebook btn-social"><em class="fa fa-facebook"></em>SHARE</button>
    </a>
    <a href="https://plus.google.com/share?url=<%= sheet_url(sheet) %>">
        <button class="btn btn-google-plus btn-social"><em class="fa fa-google-plus"></em>SHARE</button>
    </a>
    <a href="https://twitter.com/home?status=<%= sheet.title %> <%= sheet_url(sheet) %>">
        <button class="btn btn-twitter btn-social"><em class="fa fa-twitter"></em>SHARE</button>
    </a>
</div>