<div class="panel panel-info">
  <div class="panel-heading"><span class="glyphicon glyphicon-share"></span> Share</div>
  <div class="panel-body">
      <div class="form-group">
        <label class="control-label"><span class="glyphicon glyphicon-link"></span> Direct URL</label>
        <input class="form-control" id="inputPassword" value="<%= sheet_url(@sheet) %>">
    </div>
    <div class="form-group">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_email_large' displayText='Email'></span>
    </div>
</div>
</div>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "f96afff9-4ad4-4790-a239-2147a5db0365", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>