<div class="panel panel-info">
  <div class="panel-heading"><span class="glyphicon glyphicon-share"></span> Share</div>
  <div class="panel-body">
      <div class="form-group">
        <label class="control-label"><span class="glyphicon glyphicon-link"></span> Direct URL</label>
        <input class="form-control" id="inputPassword" value="<%= sheet_url(@sheet) %>">
    </div>
</div>
</div>