<div class="panel panel-info">
    <ul class="list-group">
        <%= render 'sheet_fans', sheet:sheet, favorites: favorites %>
        <li class="list-group-item well zeromargin">
            <%= render 'favorite_sheet_button', sheet:sheet %>
        </li>
    </ul>
</div>