<tr>
  <td class="sheet table-sheet">
    <%= render 'sheets/sheet_text', sheet: sheet %>
  </td>
  <td>
    <%= render 'sheets/sheet_direct_url', sheet: sheet %>
    <%= render 'sheets/share_buttons', sheet: sheet %>
  </td>
  <td>
    <%= render 'sheets/sheet_files', sheet: sheet %>
  </td>
</tr>