<tr>
  <td>
    <em class="fade-text pull-right">Purchased <%= distance_of_time_in_words(Time.zone.now, order.purchased_at) %> ago</span></em>
    <div class="sheet table-sheet">
      <%= render 'sheets/sheet_text', sheet: sheet %>
    </div>
    <br/>
    <%= render 'sheets/sheet_files', sheet: sheet %>
  </td>
</tr>
