<% cache(sheet) do %>
<div class="sheet">
    <%= render 'sheets/sheet_text', sheet: sheet %>
    <div class="sheet-user">
      <a href="<%= user_profile_path(sheet.user.username) %>"><em class="fa fa-user"></em> <%= sheet.user.display_name %></a>
    </div>
</div>
<% end %>