<div class="panel panel-info">
  <div class="panel-heading"><i class="fa fa-share-alt"></i> Share</div>
  <div class="panel-body">
      <label class="control-label"><i class="fa fa-link"></i> Direct URL</label>
      <%= render 'sheets/sheet_direct_url', sheet: sheet %>
      <%= render 'share_buttons', sheet: sheet %>
</div>
</div>
