<div class="panel panel-info">
    <ul class="list-group">
        <li class="list-group-item zeromargin">
            <%= render 'like_sheet_button', sheet:sheet %>
        </li>
        <%= render 'sheet_fans', sheet:sheet, likes: likes %>
    </ul>
</div>