<div id="sheets">
    <% sheets.find_each do |sheet| %>
        <%= render 'sheets/sheet', sheet: sheet %>
    <% end %>

    <% if sheets.empty? %>
        <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
        <h2 class="text-center">No Sheets yet!</h2>
    <% end %>
</div>
<div id="paginator" class="text-center">
  <%= paginate sheets %>
</div>