<% if sheet.pdf_preview? %>
    <% if sheet.free? || (user_signed_in? && sheet.owned_by?(current_user)) %>
        <%= render 'pdf_canvas' %>
    <% else %>
        <%= image_tag(sheet.pdf_preview_url, class: "sample_sheet") %>
    <% end %>

    <span class="price-tag">
        <% if user_signed_in? && sheet.owned_by?(current_user) %>
            In Library
        <% else %>
            <%= sheet.free? ? 'Free' : number_to_currency(sheet.price) %>
        <% end %>
    </span>
<% else %>
    <%= image_tag("/assets/missing.png", class: "sample_sheet") %>
<% end %>