<div class="panel panel-info">
  <div class="panel-heading"><em class="fa fa-share-alt"></em> Share this with your friends!</div>
  <div class="panel-body">
      <label class="control-label"><em class="fa fa-link"></em> Direct URL</label>
      <%= render 'sheets/sheet_direct_url', sheet: sheet %>
      <%= render 'share_buttons', sheet: sheet %>
</div>
</div>
