<div class="panel panel-default">
  <div class="panel-heading"><em class="fa fa-share-alt"></em> Share</div>
  <div class="panel-body">
      <%= render 'sheets/sheet_direct_url', sheet: sheet %>
      <%= render 'sheets/share_buttons', sheet: sheet %>
</div>
</div>
