<div class="sheet">
    <%= render 'sheets/sheet_text', sheet: sheet %>
    <a href="<%= sheet_url(sheet) %>">
        <%= image_tag(sheet.pdf_preview_url, title:"This is a preview page.", class: "sheet_preview") %>
    </a>
    <%= render 'sheets/sheet_user', user: sheet.user %>
</div>