<% if !current_user %>
<div class="panel panel-warning">
    <div class="panel-body bg-warning">
        <strong>Want to upload your score?</strong>
        <p><%= link_to "Sign Up", new_registration_path(User) %> for free and share your music on SheetHub!</p>
    </div>
</div>
<% end %>