<% if !current_user %>
<div class="panel panel-warning">
    <div class="panel-body bg-warning">
        <strong>Want to upload your score?</strong>
        <p><%= link_to "Sign Up", new_user_registration_url %> for free and share your music on SheetHub!</p>
        <a href="<%= new_user_registration_url %>" class="btn btn-success btn-block"> Sign Up</a>
    </div>
</div>
<% end %>