<% if tags.each do |tag| %>
    <a href="<%= tag_path(tag) %>">
    <span class="tag" data-toggle="tooltip" data-placement="top" title="<%= tag.taggings_count %> sheets found">
        <span class="fa fa-<%= tag_icon(tag) %>"></span>
        <%= tag.name.titleize %>
    </span>
    </a>
<% end.empty? %>
    <h2><i class="fa fa-eye-slash"></i></h2>
    <h2>None yet!</h2>
<% end %>