<div class="container-fluid tag-container">
<div class="col-xs-2">
    <div class="tag-group-text">
        <p class="fade-text">POPULAR</p>
        <h3> <a href="/<%= tag_type%>s"><%= tag_type.titleize.pluralize %></a></h3>
    </div>
</div>
<div class="col-xs-10">
  <div class="row flat-tags">
    <%= render 'lean_tags', tags: tags, tag_type: tag_type %>
  </div>
</div>
</div>
