<% if tags.each do |tag| %>
    <a href="<%= tag_path(tag) %>">
    <span class="tag" data-toggle="tooltip" data-placement="top" title="<%= tag.taggings_count %> sheets found">
        <span class="glyphicon glyphicon-<%= tag_glyphicon(tag) %>"></span>
        <%= tag.name.titleize %>
    </span>
    </a>
<% end.empty? %>
    <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
    <h2>None yet!</h2>
<% end %>