<% tags.each do |tag| %>
    <a href="<%= tag.taggings.present? ? tag_url(tag.taggings[0].context.chop, tag.name) : nil %>">
    <span class="tag">
        <span class="fa fa-<%= tag.taggings.present? ? tag_icon(tag.taggings[0].context.chop) : nil %>"></span>
        <%= tag.name.titleize %>
    </span>
    </a>
<% end %>
<% if tags.empty? %>
    <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
    <h2 class="text-center">None yet!</h2>
<% end %>
