<% for tag in tags %>
    <a href="<%= tag_path(tag) %>">
    <span class="tag">
        <span class="glyphicon glyphicon-<%= tag_glyphicon(tag) %>"></span>
        <%= tag.name.titleize %>
        <!-- <span class="tag-count"><%= tag.taggings_count %></span> -->
    </span>
    </a>
<% end %>