<%
title "Best Sellers"
description "Discover best selling sheets on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sheets-heading"><em class="fa fa-certificate"></em> Best Sellers</h2>
      <br />
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
