<%
title "Best Sellers"
description "Discover best selling sheets on SheetHub"
%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><em class="fa fa-certificate %>"></em><a href="<%= browse_url %>">Browse</a></li>
            <li><a href="<%= best_sellers_url %>">Best Sellers</a></li>
        </ol>
        <hr>
        <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
