<%
title "Best Sellers"
description "Discover best selling sheets on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-certificate"></i> Best Sellers</h1>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
