<% title "Discover by Composer | #{params[:slug].titleize}"
   description "Sheet Music, Score, and Tablature composed by #{params[:slug].titleize}"
%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'tag_breadcrumb', tag:params[:slug] , tag_type:"composer" %>
      <%= render 'layouts/wikipedia_blurb', key: params[:slug] %>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
