<% title "Browse by Genre | #{params[:slug].titleize}" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'tag_breadcrumb', tag:params[:slug] ,tag_type:"genre" %>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
