<% title "Browse by Source | #{params[:slug].titleize}" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><span>From <%= params[:slug].titleize %></span></h1>
    </div>
  </div>

    <!-- Page Content -->
      <div class="row">
        <div class="col-lg-12">
          <%= render 'sheets' %>
        </div>
      </div>
</div>
