<%
title "Community Favorites"
description "Discover all-time favorite works on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><em class="fa fa-star-o"></em> Community Favorites</h1>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
