<%
title "Community Favorites"
description "Discover all-time favorite works on SheetHub"
%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
          <li><em class="fa fa-bookmark %>"></em><a href="<%= sheets_url %>">Discover</a></li>
          <li><a href="<%= community_favorites_url %>">Community Favorites</a></li>
      </ol>
      <hr>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
