<%
title "Community Favorites"
description "Discover all-time favorite works on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sheets-heading"><em class="fa fa-star-o"></em> Community Favorites</h2>
      <br />
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
