<%
title "All Composers"
description "Discover music by acclaimed composers on SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <%= render 'tag_type_breadcrumb', tag_type:"composer" %>
        <div class="flat-tags">
        <%= render 'lean_tags', tags: @composers, tag_type:"composer" %>
        </div>
    </div>
    </div>
</div>