<%
title "All Composers"
description "Discover music by acclaimed composers on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
    <div class="row">

        <h1 class="text-center"><i class="fa fa-users"></i> All Composers</h1>
        <%= render 'lean_tags', tags: @composers, tag_type:"composer" %>

    </div>
</div>