
<div class="container">
    <h1>Editing sheet</h1>

    <div id="sheet-content" class="col-xs-8">
        <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
    </div>

    <div id="sheet-sidebar" class="col-xs-4">
        <a href="<%= sheet_path(@sheet) %>">
        <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-arrow-left"></span> Go Back</button></a>

        <div class="panel panel-info">
          <div class="panel-body">
                <%= render 'form' %>
            </div>
          </div>

        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-file"></span>Additional Files</div>
            <div class="panel-body"  id="sheet-files">

            TODO

            </div>
        </div>
    </div>

</div>
