<%
title "#{@sheet.title}'s Fans"
description @sheet.description
keywords @sheet.cached_joined_tags
%>

<div class="container">
  <div class="row">
  <div class="col-xs-12" id="sheet-header">
    <h1 class="text-center"><%= link_to @sheet.title, sheet_url(@sheet) %>'s Fans</h1>
    <br />
  </div>
  <div class="col-xs-12">
      <div id="sheets">
        <%= render 'fans', likes: @likes%>
      </div>
    </div>
  </div>
</div>