<%
title "All Genres"
description "Discover music of different genres on SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-headphones"></i> <a href="<%= browse_path %>">Browse</a></li>
        <li></i> <a href="<%= genres_path %>">All Genres</a></li>
      </ol>
        <div class="white-container">
        <%= render 'lean_tags', tags: @genres, tag_type:"genre" %>
        </div>
    </div>
    </div>
</div>