<%
title "All Genres"
description "Discover music of different genres on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
    <div class="row">

        <h1 class="text-center"><i class="fa fa-headphones"></i> All Genres</h1>
        <%= render 'lean_tags', tags: @genres, tag_type:"genre" %>

    </div>
</div>