<%
title "Browse"
%>

<%= render 'layouts/nav_strip' %>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <%= render 'sheets', sheets: @sheets %>
      </div>
    </div>
</div>

<%= render 'instruments_strip', instruments: @instruments %>