<%
title "Discover Sheet Music"
description "Sheet Music, Scores, Tablature, Chords"
%>


<div class="container">
    <div class="col-xs-12">
      <div class="row">
      <%= render 'sheets/filter' %>
      <div class="row">
        <%= render 'sheets/sheets', sheets: @sheets %>
    </div>
    </div>
</div>