<%
title "Discover Sheets"
description "SheetHub is the easiest publishing platform built for musicians"
%>


<div class="container">
    <div class="col-xs-12">
      <div class="row">
      <%= render 'sheets/filter' %>
      <div class="row">
        <%= render 'sheets/sheets', sheets: @sheets %>
    </div>
    </div>
</div>