<%
title "All Instruments"
description "Discover music for all instruments on SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <%= render 'tag_type_breadcrumb', tag_type:"instrument" %>
        <div class="flat-tags">
        <%= render 'instruments', instruments: @instruments %>
        </div>
    </div>
    </div>
</div>