<%
title "All Instruments"
description "Discover music for different instruments on SheetHub"
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
    <div class="row">

        <h1><i class="fa fa-magic"></i> All Instruments</h1>
        <%= render 'instruments', instruments: @instruments %>

    </div>
</div>