<%= render 'layouts/nav_strip' %>
<div class="container">
    <div class="row">

        <h1 class="text-center">All Instruments</h1>
        <%= render 'instruments', instruments: @instruments %>

    </div>
</div>