<%
title "All Instruments"
description "Discover music for all instruments on SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-magic"></i> <a href="<%= browse_path %>">Browse</a></li>
        <li><a href="<%= instruments_path %>">All Instruments</a></li>
      </ol>
        <div class="white-container">
        <%= render 'instruments', instruments: @instruments %>
        </div>
    </div>
    </div>
</div>