<% title "Upload"  %>

<div class="container">

    <div class="row">
    <div class="col-xs-3 ">
        <div class="well" style="margin-top:45%;">
            Read more about picking the right license for your music <a href="<%= faq_path %>#licenses" target="blank">here</a>.
        </div>

        <div class="well margintop30">
            We recommend a price between <strong>$1.99 - $7.49</strong> for single pieces. Leave price at 0.00 to make it freely available.
        </div>

        <div class="well margintop30">
            Adding detailed metadata about your piece, including <strong>Instruments, Composers, Genres, and Sources</strong> will help other users find your sheet more easily. You will also appear in related results more frequently.
        </div>

        <div class="well margintop30">
        The first page of your PDF will be publicly visible as a preview page. You can add additional audio files later.
        </div>
    </div>

    <h1>New sheet</h1>
    <div class="col-xs-6 white-container">
    <%= render 'form', sheet: @sheet, genres: @genres, composers: @composers, sources: @sources %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-warning">
        <div class="panel-body bg-warning">
            <p>You can upload <strong><%= current_user.remaining_free_sheet_quota %></strong> more free sheets on SheetHub. You have <strong>unlimited</strong> uploads for commercial sheets.</p>
            <% if current_user.membership_type != "pro" %>
                <p><%= link_to "Upgrade", upgrade_path %> to enjoy unlimited free uploads and extra features!</p>
            <% end %>
        </div>
        </div>
    </div>


    </div>

</div>
<br/>