<% title "Upload"  %>

<div class="container">

    <div class="row">
    <div class="col-xs-3 ">
        <div class="well margintop30">
            <strong>Public</strong> Sheets will be visible to site users and appear in search results. <strong>

            Private</strong> Sheets can only be shared with a private link, and do not appear to other users normally.
        </div>

        <div class="well margintop30">
            You can make it <strong>free</strong> or set a price to get access to your sheet music. Prices must be <strong>above $1.99</strong> due to payment transaction fees.
        </div>

        <div class="well margintop30">
            Adding detailed metadata about your piece, including <strong>Instruments, Composers, Genres, and Sources</strong> will help other users find your sheet more easily.
        </div>

        <div class="well margintop30">
        The first page of your PDF will be publicly visible as a preview page. You can add additional audio files later.
        </div>
    </div>

    <div class="col-xs-6">
    <h1>New sheet</h1>
    <%= render 'form' %>
    </div>
    </div>

</div>
<br/>