<% title "Upload"  %>

<div class="container">

    <div class="row">
    <div class="col-xs-3 ">
        <div class="well margintop30">
            <p><strong>Public</strong> Sheets will be visible to all and appear in search results.</p> <p><strong>

            Private</strong> Sheets can only be shared with a private link, and do not appear to other users normally.</p>
        </div>

        <div class="well margintop30">
            You can make your music free or you can set a price. Prices must be <strong>at least $1.99</strong> due to payment transaction fees.
        </div>

        <div class="well margintop30">
            Adding detailed metadata about your piece, including <strong>Instruments, Composers, Genres, and Sources</strong> will help other users find your sheet more easily. You will also appear in related results more frequently.
        </div>

        <div class="well margintop30">
        The first page of your PDF will be publicly visible as a preview page. You can add additional audio files later.
        </div>
    </div>

    <h1>New sheet</h1>
    <div class="col-xs-6 white-container">
    <%= render 'form', sheet: @sheet, genres: @genres, composers: @composers, sources: @sources %>
    </div>
    </div>

</div>
<br/>