<% title "Upload"  %>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2 class="text-center">Let's add your work!</h2>
            <hr>
        </div>
    </div>

    <div class="row">
    <div class="col-xs-3 ">
        <div class="well" style="margin-top:80px;">
            Learn more about picking the right license for your music <a href="<%= support_url %>#licenses" target="blank">here</a>.
        </div>

        <div class="well" style="margin-top:150px;">
            Adding Instruments, Composers, Genres, and Sources will help other users find your sheet more easily. Tags are case-insensitive.
        </div>

        <div class="well" style="margin-top:150px;">
        The first page of your PDF will be publicly visible as a preview page. You can add additional audio files later.
        </div>
    </div>

    <div class="col-xs-6 white-container">
    <%= render 'form', sheet: @sheet, genres: @genres, composers: @composers, sources: @sources %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-warning">
        <div class="panel-body bg-warning blurb">
            <p>You have <strong>unlimited</strong> uploads for commercial sheets. You can upload <strong><%= current_user.remaining_sheet_quota %></strong> more free sheets on SheetHub. </p>
            <br/>
            <% if current_user.membership_type != "pro" %>
                <p><%= link_to "Upgrade", upgrade_url %> to enjoy unlimited free sheet uploads and extra features!</p>
            <% end %>
        </div>
        </div>
    </div>


    </div>

</div>
<br/>