<% title "Upload"  %>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2 class="text-center">Let's add your work!</h2>
            <hr>
        </div>
    </div>

    <div class="row">
    <div class="col-xs-3 ">
        <div class="well">
            Adding details about your work will help others find your it more easily.
        </div>

        <div class="well" style="margin-top:570px;">
        The first page of your PDF will be publicly visible as a preview page. You can add additional files later, from your sheet management page.
        </div>
    </div>

    <div class="col-xs-6 white-container">
    <%= render 'form', sheet: @sheet, genres: @genres, composers: @composers, sources: @sources %>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-body bg-info">
                <strong><em class="fa fa-pencil"></em> Don't know how to transcribe?</strong>
                <p>Don't worry! A team of top transcribers can turn your mp3 or hand-written chart into professionally engraved Sheet Music. <%= link_to "Contact Us", contact_url(subject: "Help with Transcribing") %> and we will connect you with a transcriber.</p>
            </div>
        </div>

    </div>

</div>
<br/>