<% title "Upload"  %>

<div class="container container-bg">

    <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <h1>New sheet</h1>
    <%= render 'form' %>
    <%= link_to 'Back', sheets_path %>
    </div>
    </div>

</div>