<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><span>Search results for <q><%= params[:q] %></q></span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'sheets', sheets: @sheets %>
    </div>
    <div id="paginator" class="text-center">
      <%= paginate @sheets %>
    </div>
  </div>
</div>
