<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><span>Search results for <%= params[:q] %></span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>

  <div id="paginator">
    <%= paginate @sheets, remote: true %>
  </div>
</div>
