<%
title "All Sources"
description "Discover music from different movies, games, anime, and TV shows on SheetHub"
%>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-book"></i> <a href="<%= browse_path %>">Browse</a></li>
        <li></i> <a href="<%= sources_path %>">All Sources</a></li>
      </ol>
        <div class="white-container">
        <%= render 'lean_tags', tags: @sources, tag_type:"source" %>
        </div>
    </div>
    </div>
</div>