<div class="container container-bg">
    <div class="row">
        <div class="col-xs-12">

            <h1 class="text-center">Thank You</h1>
            <h3 class="text-center">You've purchased <%= link_to @sheet.title, sheet_path(@order.sheet) %>!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <%= render 'sheets/sheet', sheet: @sheet %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">You now have unlimited file access for your purchase. Visit your profile to view all of your purchased sheets.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <a href="<%= profile_path(current_user.username) %>" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-edit"></span> Go to your Profile</a>
        </div>
    </div>
</div>