<% title "Thank You" %>

<div class="container">
    <div class="row">
        <h1>Thank You For Your Purchase</h1>
        <div class="col-xs-8 white-container">
            <p class="bg-primary"><i class="fa fa-thumbs-up"></i> You now have <strong>Unlimited Access</strong> to <%= @order.sheet.title %></p>
            <div id="sheets" class="wide-sheets">
                <%= render 'sheets/sheet', sheet: @order.sheet %>
            </div>

            <div class="pull-left">
                <strong>What happens next?</strong>
                <p>A receipt will be emailed to you shortly. Your purchased sheet is now registered to your account on SheetHub. To access your purchases, simply visit your Library and download your files whenever you're ready.</p>
                <p>You can view and print all of your purchased sheet music anytime, on any platform and device - without ever paying again. Enjoy!</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <a href="<%= user_library_path %>" class="btn btn-block btn-success"><i class="fa fa-shopping-cart"></i> View Your Purchases</a>
            </div>
        </div>
    </div>
</div>

<%= render 'sheets/related', sheet:@order.sheet %>