<% title "About"  %>

<div id="banner">
    <h1>Our vision is simple</h1>
    <h4>To make it easy for composers and arrangers to share their creations</h4>
</div>
<div class="container">

<h2>About Us</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada efficitur quam, mattis viverra urna scelerisque imperdiet. Nunc porta cursus quam, sit amet maximus leo pharetra a. Ut justo urna, imperdiet ut dui et, imperdiet suscipit est. Donec mi tortor, rutrum nec dictum ut, consectetur consectetur elit. Nam dictum rutrum nisl sed efficitur. Curabitur dignissim, elit eu congue accumsan, neque nibh iaculis dui, id consectetur erat ipsum vitae purus. Proin id leo ut lectus mollis auctor.</p>



<!-- TODO
 1. Public, private sheets
 2. Intelligent Tagging system
 3. Powerful search using ElasticSearch
 3. Locality sensitive Hashing to detect copyright infringements
 4. Pay-what-you-want
 -->

<!-- We're totally transparent in how and what features we build. Features can be requested via our Uservoice page. Many features requested have already either been built or are planned to be built. You shape the kind of site that you would like built. -->

</div>