<% title "About"  %>

<div id="banner">
    <h2>SheetHub is a self-publishing platform that makes it easy for composers and arrangers to archive and share their creations.</h2>
    <h3><span class="glyphicon glyphicon-music"></span></h1>
</div>
<div class="container">

//TODO
// 1. Public, private sheets
// 2. Tagging system
// 3. Powerful search using ElasticSearch
// 3. Perceptual Hashing to detect copyright infringements
// 4. Pay-what-you-want
// 5. About the Team

</div>