<% title "About"  %>

<div id="banner">
    <h1>Our vision is simple</h1>
    <h4>To make it easy for composers and arrangers to share their creations</h4>
</div>
<div class="container">

//TODO
// 1. Public, private sheets
// 2. Tagging system
// 3. Powerful search using ElasticSearch
// 3. Perceptual Hashing to detect copyright infringements
// 4. Pay-what-you-want
// 5. About the Team

<!-- We're totally transparent in how and what features we build. Features can be requested via our Uservoice page. Many features requested have already either been built or are planned to be built. You shape the kind of site that you would like built. -->

</div>