<% title "Frequently Asked Questions"  %>

<div id="banner">
    <h1>Frequently Asked Questions</h1>
</div>
<div class="container">

<h2 id="earnings-calculation">How are earnings calculated?</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada efficitur quam, mattis viverra urna scelerisque imperdiet. Nunc porta cursus quam, sit amet maximus leo pharetra a. Ut justo urna, imperdiet ut dui et, imperdiet suscipit est. Donec mi tortor, rutrum nec dictum ut, consectetur consectetur elit. Nam dictum rutrum nisl sed efficitur. Curabitur dignissim, elit eu congue accumsan, neque nibh iaculis dui, id consectetur erat ipsum vitae purus. Proin id leo ut lectus mollis auctor.</p>


</div>