<%
title "Features"
description "Sheethub Features"
keywords %w(features benefits)
%>

<div class="animated-banner">
    <h1>Features</h1>
    <h2>Discover SheetHub, an open platform for musicians</h2>
</div>

<div class="container">
<div class="col-xs-12 white-container">

</div>
</div>
