<%
title "About"
description "About Sheethub"
keywords %w(about publishing features benefits)
%>

<div class="animated-banner">
    <h2 class="sheets-subheading" style="padding-top: 100px; ">SheetHub is a Self-Publishing Platform &amp; Community Marketplace</h2>
    <h1 class="sheets-heading" style="padding-top: 0px; ">Made for Composers, Arrangers, and Musicians</h1>
</div>

<div class="container">
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
              <p>SheetHub lets you easily publish, find, and share your music.</p><p>Your files are securely hosted on SheetHub so you don't need to worry about building a website or storing files anywhere. We help you handle everything from payments, sales, emails, and distribution. You'll also get your very own personal portfolio and subdomain! You are paid directly and instantly the moment you make a sale.</p><p> SheetHub handles all the technical complexities behind hosting and selling your sheet music online, so you can focus on pursuing your music.</p>
            </div>
        <div class="panel-footer">
          <span class="fade-text"><em class="fa fa-heart" aria-hidden="true"></em> SheetHub is a labour of love by a fellow <a href="http://leventhan.sheethub.co">musician</a>.</span>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="white-container">
<div id="features" class="container">
    <div class="row">
    <div class="col-xs-12">
        <h1>SheetHub for Composers and Arrangers</h1>
        <h2>You upload your amazing work - we take care of everything else.</h2>


        <div id="carousel-features" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-features" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-features" data-slide-to="1"></li>
            <li data-target="#carousel-features" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/sheethub/assets/screenshot1.png">
            </div>
            <div class="item">
              <img src="https://s3.amazonaws.com/sheethub/assets/screenshot4.png">
            </div>
            <div class="item">
              <img src="https://s3.amazonaws.com/sheethub/assets/screenshot3.png">
            </div>
          </div>
        </div>
        <br/>

        <div class="col-xs-6">
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-thumbs-o-up"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Simple & Fast Setup</h3>
                    <p>Add files, video links, set a price, and more. No complex installation or technical skills required.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-users"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Direct-to-fan Storefront</h3>
                    <p>Sell your work directly to your fans with your own product page. We handle everything from file storage and delivery to checkout and payments processing. Start publishing on SheetHub in minutes!</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-smile-o"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Zero Upfront Fees</h3>
                    <p>SheetHub costs nothing up-front to use. You are free to upload an unlimited number of commercial works. No setup fees, no monthly fees, no hosting fees to worry about!</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-search"></em>
                </div>
                <div class="col-xs-11">
                    <h3>SEO Optimized</h3>
                    <p>Clean, search engine friendly code and proper tagging to help you get found by people looking for your work.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-legal"></em>
                </div>
                <div class="col-xs-11">
                    <h3>EU VAT Compliance</h3>
                    <p>SheetHub makes it possible to be VAT MOSS compliant by providing publishers with all the information they need to file your taxes to the VAT MOSS system.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-line-chart"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Powerful Analytics</h3>
                    <p>Get sales figures, income by product, who your fans are, and more from an intuitive and simple to use dashboard that’s, well, kind of fun to use. Export your sales data to CSV to create your own reports.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-lightbulb-o"></em>
                </div>
                <div class="col-xs-11">
                    <h3>We're here to help</h3>
                    <p>We're musicians too, and we're here to help. Whether you have questions, need help setting up, or just need some advice. <%= link_to "We're available anytime.", support_url %></p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-tree"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Getting Better Every Day</h3>
                    <p>SheetHub is a continuously evolving platform built to cater the needs of our growing community of musicians. The community decides and votes on what we build next. You shape the future of SheetHub!</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-truck"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Secure Storage and Delivery</h3>
                    <p>Files are saved over a secure link and only released to your customer via a timed or download limited link. This stops people passing on the download link to other people who aren’t planning on paying.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-credit-card"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Payment Processing</h3>
                    <p>Accept payments via PayPal and major credit cards from customers all over the world, including Visa, MasterCard, American Express, and Discover.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-bank"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Get Paid Instantly</h3>
                    <p>Once a sale is complete, you instantly receive your payment. It’s that simple. No more waiting around for your money to be processed or even worse - getting paid monthly. </p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-certificate"></em>
                </div>
                <div class="col-xs-11">
                    <h3>PDF Stamping</h3>
                    <p>Discourage the illegal sharing of your PDF products by stamping them with the name and email of your customer. With their ‘fingerprint’ on it, people are less likely to sell or share your content.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-shopping-cart"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Pay-What-You-Want Pricing</h3>
                    <p>You always get to set the minimum price for your music, but that doesn’t stop your fans from giving more in the spirit of supporting you! Let your biggest fans decide how much they pay you.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-tasks"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Limited Purchases</h3>
                    <p>Optionally set a limit to the number of digital purchases that can be made for a specific song! Perfect for licensed arrangements!</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-link"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Your Own Personal Website</h3>
                    <p>Signing up gives you your own <%= link_to "personal website", "http://edwinsungmusic.sheethub.co" %> that showcases all the works you've published on SheetHub.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr>

    <div class="row">
    <div class="col-xs-12">
        <h1>SheetHub for Musicians</h1>
        <h2>Discover new music by tags and recommendations. Favorite, share, and purchase.</h2>

        <img src="https://s3.amazonaws.com/sheethub/assets/screenshot2.png" />

        <div class="col-xs-6">
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-tags"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Tags</h3>
                    <p>Filter by genres, composers, instruments, and sources to easily find works you care about.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-birthday-cake"></em>
                </div>
                <div class="col-xs-11">
                    <h3>DRM-Free</h3>
                    <p>No Flash, no proprietary software to install, no restrictive copy protection. Buy once, keep forever.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-gift"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Access to Free works</h3>
                    <p>Get unlimited downloads of free published works on SheetHub. Download and print anytime, on any platform.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-credit-card"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Multiple Payment Options</h3>
                    <p>Pay with PayPal, or with major credit cards including Visa, MasterCard, American Express, and Discover.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-share-alt"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Social Sharing</h3>
                    <p>Share new and interesting pieces with your fellow musicians on major social networks.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-heart-o"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Recommendations</h3>
                    <p>Easily discover new and interesting music through recommended tags and pieces.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-download"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Re-download past purchases</h3>
                    <p>Permanent, unlimited access to the high-quality download of all your purchases.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-hand-o-up"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Instant Buy</h3>
                    <p>Instant buy makes purchasing as simple and easy as possible. Just click, pay and download your product.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-star-o"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Likes </h3>
                    <p>Bookmark your all-time favorite works for later perusal and purchase.</p>
                </div>
            </div>
            <div class="feature">
                <div class="col-xs-1">
                    <em class="fa fa-comments-o"></em>
                </div>
                <div class="col-xs-11">
                    <h3>Discussions</h3>
                    <p>Give constructive feedback to the author, post your performance recordings, and discuss the piece with others.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<div class="animated-banner footer-banner">
    <h1><a href="<%= new_user_registration_url %>" class="btn btn-inline btn-success btn-banner btn-lg center-block"><em class="fa fa-user-plus"></em> Sign Up and Get Started</a></h1>
</div>
