
<div class="container">

    <div class="row landing">
        <div class="col-md-12">
         <h1><span class="glyphicon glyphicon-music"></span></h1>
         <h1>SheetHub</h1>
     </div>

     <div class="col-md-6 col-md-offset-3">
         <h2>SheetHub is a super simple way to publish and share your sheet music online.</h2>
     </div>

    <div class="col-md-4 col-md-offset-4">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//sheethub.us8.list-manage.com/subscribe/post?u=8d6aaf3ffc7caf0d6a112eccd&amp;id=8ec2a1265f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group form-inline">
                <input type="email" value="" placeholder="Tell me when it's done!" name="EMAIL" class="required email" id="mce-EMAIL">
                <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
            </div>
            <div id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_8d6aaf3ffc7caf0d6a112eccd_8ec2a1265f" tabindex="-1" value=""></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </div>

 </div>

</div>