<% title "Privacy Policy"  %>

<div class="container white-container">

    <h2>Privacy Policy</h2><br>
        <p>SheetHub is committed to maintaining the security, confidentiality and privacy of your personal information. This document describes our general privacy policies. We may change this Policy at any time by posting the revised policy on our website. Please check our website regularly for these changes.</p>
        <hr>
        <h3>Data Collected</h3>
<p>
                We may collect various information from you, including your name, address, phone number, e-mail address, photograph, credit card details, preferred means of communication, your interaction with our website, social media sites and mobile applications (including information such as IP addresses, browser type, language, access times, referring website, etc.) and other information you provide to us.
              </p>
              <p>
                We collect, use and disclose your personal information for the following purposes:
              </p>
              <ul>
                <li>
                  to allow us to communicate with you (including through the use of commercial electronic messages),
                </li>
                <li>
                  to customize the advertising and content that is presented to you on our website,
                </li>
                <li>
                  to contact you regarding any orders you place through our website, and to help process, deliver and take payment for those orders,
                </li>
                <li>
                  to verify your personal information
                </li>
                <li>
                  to operate, customize and improve our website, social media sites, mobile applications, advertisements, products and services;
                </li>
                <li>
                  to allow you to use portions of our website such as our forums;
                </li>
                <li>
                  to allow you to participate in our contests, and to administer those contests;
                </li>
                <li>
                  to monitor your compliance with any of your agreements with us;
                </li>
                <li>
                  to administer our provision of, and your payment for, products or services you request from us;
                </li>
                <li>
                  to provide newsletters, electronic messages and information you request from us;
                </li>
                <li>
                  to provide other information to you regarding our products and services or third party products and services, unless you opt out of receiving that information;
                </li>
                <li>
                  to manage or transfer our assets or liabilities, for example in the case of an acquisition, disposition or merger;
                </li>
                <li>
                  to protect us, yourself and others from fraud and error and to safeguard our business interests;
                </li>
                <li>
                  to collect debts owed to us;
                </li>
                <li>
                  to comply with legal and regulatory requirements; and
                </li>
                <li>
                  for other purposes we may inform you about from time-to-time.
                </li>
              </ul>
<p>When your personal information is to be used for a purpose not previously identified, the new purpose will be disclosed to you prior to such use, and your consent will be sought unless the use is authorized or required by law.</p>

<p>We may work with other companies to provide services on our behalf, such as website hosting services, payment processing services and product delivery services. Those service providers will be permitted to obtain only the personal information they need to deliver the service in question, and they will be required to maintain the confidentiality of that information.</p>

</p><p>
<hr>
<h3>Data Usage</h3>
</p><p>
We may use your information to provide you with certain features and to create a personalized experience on the Website. We may also use that information to operate, maintain and improve features and functionality of the Website. We will not collect information indiscriminately and will limit collection of information to that which is reasonable and necessary for the above purposes
</p><p>
We will not use your e-mail address or other personal information to send commercial or marketing messages without your consent. We may use your e-mail without further consent for any purposes, including without limitation, commercial, marketing and administrative purposes.
</p><p>
We use cookies to store information so that you will not have to re-enter it on future visits, provide personalized content and information, monitor the effectiveness of the Website and monitor aggregate metrics such as the number of visitors and page views (including for use in monitoring visitors from affiliates). They may also be used to provide targeted advertising based on your country of origin and other personal information.
A cookie does not tell us who you are, your email address, or any other personal information.
</p><p>
We will not sell or rent your personal information to third parties, and we will obtain your consent to collect, use or disclose personal information except where we are authorized or required by law to do so without consent.
</p><p>
Any Public Content that you submit may be redistributed through the internet and other media channels and may be viewed by the general public.
</p><p>
<hr>

<h3>Safeguards</h3>
<p>We protect the personal information in our custody or control by making reasonable security arrangements to prevent unauthorized access, collection, use, disclosure, copying, modification, disposal or similar risks.</p>

<p>We will take reasonable steps, through contractual or other reasonable means, to ensure that a comparable level of personal information protection is implemented by the suppliers and agents who assist in providing services to you. However, confidentiality and security are not assured when information is transmitted electronically.
</p>


<hr>
<h3>Disclosures of Information</h3>
</p><p>
We may be required to release certain data to comply with legal obligations or in order to enforce our Terms of Use and other agreements. We may also release certain data to protect the rights, property or safety of us, our users and others. This includes providing information to other companies or organizations like the police or governmental authorities for the purposes of protection against or prosecution of any illegal activity, whether or not it is identified in the Terms of Use.
</p><p>
If you upload any illegal material to the Website, we may forward all available information to relevant authorities, including respective copyright owners, without any notice to you.
<br>
</p>

</div>