<%
title "Terms of Service"
keywords %w(terms service guidelines rules)
%>


<div class="container white-container">
    <h1 class="text-center">Terms of Service</h1><br>
    <hr>

    <p>The following terms and conditions ("Terms") govern your use of the SheetHub website located at sheethub.co and your use of any and all applications, products, platform/technical integrations, subscriptions, graphics, audio, video, images and any other content displayed on or accessed through SheetHub, regardless of whether accessed through sheethub.co or a third-party platform (the "Service" or "Services").</p>

    <p>These Terms constitute a contractual agreement between you and us. Throughout these Terms, "SheetHub"  "our" and "we" refers to SheetHub and its affiliates; and "you" or "User" refers to you, our user anyone who uses, joins, visits, purchases from, or subscribes to SheetHub. By visiting, accessing, using, and/or joining (collectively "using") SheetHub, you express your understanding and acceptance of these Terms. If you do not agree to be bound by these Terms, navigate away from the
    Website and cease using it.</p>

    <p>Your access to SheetHub is subject to the Terms outlined here and subject to change, suspension, modification or discontinuation at any time, and we reserve the right to update and change the Terms of Service by posting updates and changes to this website. Any new features or tools which are added to the current Service shall be also subject to the Terms of Service. You are advised to check the Terms of Service from time to time for any updates or changes that may impact you.</p>

<hr><h3>Description of The Service</h3>

<p>SheetHub is an integrated online platform that enables content owners to sell and market digital sheet music, score, tablature, and other content to consumers and third-party users. Through our platform, we offer content owners a way to promote, distribute, and monetize their content, and provide consumers with a seamless discovery, community, and marketplace experience.</p>

<hr><h3>Content Rights</h3>

<p>
Our Service is used to sell, distribute and otherwise make available content owned and uploaded by third party rights holders to the SheetHub platform. We developed SheetHub to provide a monetization tool for content owners, and are committed to protecting the rights distributed through our platform. Other than duly licensed content, the copyrights to the material made available and sold through SheetHub are owned by the users who have posted the material. Please note that SheetHub is not paid for, responsible for or involved with the production or distribution of anything made available through our platform. We are paid by content owners for the use of our technology platform, which facilitates the sale of content, and not for content itself.
</p>

<p>
We do not select or review any of the content distributed through the SheetHub platform, but make it our top priority to remove infringing, defamatory, offensive or abusive content upon request. We encourage and empower our users with the tools to do the same. You can visit the DMCA section on our Terms to learn more about how we deal with copyrighted material and to read about our compliance with the Digital Millennium Copyright Act.
</p>

<hr><h3>Your Content On SheetHub</h3>

<p>
You hereby grant SheetHub the non-exclusive right and authorization, but not the obligation, to distribute, license, sell, promote your published works online as part of the SheetHub platform on your behalf. Most commonly, this will involve selling the music on the SheetHub platform itself. It can also involve things like selling your music through an embeddable widget or letting our partners sell it through the apps they build using our API.
</p>

<hr><h3>Additional Rights To Help Us Publish Your Content</h3>
<p>
Your grant of rights to SheetHub in this Agreement shall include the right to collect, administer, and distribute all revenue derived totherefrom to the relevant parties on your behalf. It is understood that SheetHub shall have the right to directly market, promote, sell or otherwise publish Your Content through SheetHub on your behalf.</p>


<hr><h3>User Submissions</h3>

<p>You are entirely responsible for any and all materials you submit or
    otherwise make available via SheetHub, including videos or any other
    communications or profile information, (collectively, "User
    Submissions").  User Submissions cannot always be withdrawn.  You
    acknowledge that any disclosure of personal information in User
    Submissions may make you personally identifiable and that we do not
    guarantee any confidentiality with respect to User Submissions.

</p><p>You shall be solely responsible for any and all of your own User
Submissions and any and all consequences of posting, uploading,
publishing or otherwise making them available.  For any of your User
Submissions, you affirm, represent and warrant all of the following:
</p><ol type="a">
<li>You own or have the necessary licenses, permissions, rights or
    consents to use, authorize us to use and license us to use all
    trademarks, copyrights, trade secrets or other proprietary rights in and
    to User Submissions for any and all uses contemplated by SheetHub
    and these Terms.</li>
    <li>Your User Submissions are not obscene, vulgar, illegal, unlawful,
        defamatory, fraudulent, libelous, harmful, harassing, abusive,
        threatening, invasive of privacy or publicity rights, hateful, racially
        or ethnically offensive, inflammatory, or otherwise inappropriate as
        decided by us in our sole discretion.</li>
            <li>Your User Submissions do not impersonate any person or entity or
                otherwise misrepresents you in any way, including creating a false
                identity.</li>
                </ol>

                <p>We claim no ownership or control over User Submissions or Third
                    Party Content.  You or a third party licensor, as appropriate, retain
                    all copyrights to User Submissions and you are responsible for
                    protecting those rights as appropriate. If You enable payments,
                    You irrevocably grant us the right to sell your content on your behalf.

                </p><p>You represent and warrant that you have all the rights, power
                and authority necessary to grant the rights granted herein to User
                Submissions.  Specifically, you represent and warrant that you own the
                title to the User Submissions, that you have the right to upload the
                User Submissions to SheetHub, and that uploading the User Submissions
                will not infringe upon any other party's rights or your contractual
                obligations to other parties.

            </p><p>You acknowledge that we may at our sole discretion refuse to
            publish, remove, or block access to any User Submission for any reason,
            or for no reason at all, with or without notice.

        </p><p>You agree to defend us against any claim, demand, suit or
        proceeding made or brought against us by a third-party alleging that
        your User Submissions or your use of SheetHub in violation of these
        Terms infringes or misappropriates the intellectual property rights of a
        third-party or violates applicable law and you shall indemnify us for
        any damages finally awarded against and for reasonable attorney's fees
        incurred by us in connection with any such claim, demand, suit or
        proceeding provided that we (a) promptly give you written notice of the
        claim, demand, suit or proceeding, (b) give you sole control of the
        defense and settlement of the claim, demand, suit or proceeding
        (provided that you do not settle unless the settlement unconditionally
        releases us of all liability), and (c) provide you with all reasonable
        assistance, at your expense.

    </p>



    <hr><h3>User Conduct</h3>

    <p>You represent and warrant that all the information provided by you to
     us is accurate and current and that you have all necessary rights,
     power and authority to agree to these Terms and to perform the acts
     required of you under these Terms.

 </p><p><strong>YOU AGREE NOT TO USE SHEETHUB FOR MAKING, OBTAINING OR OTHERWISE ACCESSING ILLEGAL COPIES OF COPYRIGHTED MATERIALS.</strong>

</p><p>As a condition of your use of SheetHub:

</p><ol type="a">
<li>You agree not to use SheetHub for any unlawful purpose or in any way that is prohibited by these Terms;</li>
<li>You agree to abide by all applicable local, state, national and international laws and regulations;</li>
<li>You agree not to use SheetHub in any way that exposes us to criminal or civil liability;</li>
<li>You agree that you are solely responsible for all acts and omissions that occur as a result of your use of SheetHub;</li>
<li>You agree that all your User Submissions belong to you and that you have the right and authority to provide it to us;</li>
<li>You agree to maintain the security of your login password and to be fully responsible for any and all use of your account;</li>
<li>You agree not to use or attempt to use any other party's account on SheetHub without authorization;</li>
<li>You agree not to use any automated means, including robots, crawlers
 or data mining tools, to download, monitor or use data or Content from
 SheetHub;</li>
 <li>You agree not to use SheetHub to collect usernames and/or e-mail addresses for sending unsolicited messages of any kind;</li>
 <li>You agree not to take any action that imposes, or may impose, in our
     sole discretion, an unreasonable or disproportionately large load on
     our technology infrastructure or otherwise make excessive demands on it;</li>
     <li>You agree not to "stalk" or otherwise harass anyone on SheetHub;</li>
     <li>You agree not to forge headers or otherwise manipulate identifiers
        in order to disguise the origin of any information you transmit;</li>
        <li>You agree not to disable, circumvent, or otherwise interfere with
            security related features of SheetHub or features that prevent or
            restrict use or copying of any content or which enforce limitations on
            the use of SheetHub or the content therein;</li>
            <li>You agree not to post, link to, or otherwise make available on the
                Website any material that contains software viruses or any computer
                code, file or program designed to interrupt, destroy, limit or monitor
                the functionality of any computer software or hardware or any
                telecommunications equipment;</li>
                <li>You agree not to license, sublicense, sell, resell, transfer,
                    assign, distribute or otherwise in any way commercially exploit or make
                    available SheetHub or any Content to any third party;</li>
                    <li>You agree not to "frame" or "mirror" SheetHub; and</li>
                    <li>You agree not to reverse engineer any portion of SheetHub.</li>
                </ol>

                <p>We reserve the right to take appropriate action against any user for
                    any unauthorized use of SheetHub, including civil, criminal and
                    injunctive redress and the termination of any user's use of SheetHub.
                    Any use of SheetHub and our computer systems not authorized by
                    these Terms is a violation of these Terms and certain international,
                    foreign and domestic laws, including the Computer Fraud and Abuse Act.

                </p>

<hr><h3>Our Intellectual Property</h3>
<p>
We own and retain all right, title and interest in and to the Service, and all related technology, materials, data, tools, widgets, user activity reports, intellectual property, programming, development and design, including but not limited to the front and backend systems, visual design, Internet website and accompanying databases. This Agreement does not transfer any ownership rights in any of the foregoing to you or any third party.</p>

<p>
Notwithstanding User Submissions, all of the content on the SheetHub platform, including without limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features, designs, trademarks, service marks, trade dress and logos contained herein (marks), are owned by or licensed to SheetHub, subject to copyright and other intellectual property rights under the law. Content on the website is provided to you on an "as is" basis for your information and personal use only and may not be copied, reproduced, distributed, transmitted, displayed, publicly performed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective rights holders.
</p>

<hr><h3>Digital Millennium Copyright Act </h3>

<p>We respect the intellectual property rights of others. You may not
    infringe the copyright, trademark or other proprietary informational
    rights of any party. We may in our sole discretion remove any Content we
    have reason to believe violates any of the intellectual property rights
    of others and may terminate your use of SheetHub if you submit any
    such Content.

    </p><p><strong><em>REPEAT INFRINGER POLICY.</em>  AS PART OF OUR
    REPEAT-INFRINGEMENT POLICY, ANY USER FOR WHOSE USER SUBMISSIONS OR THIRD
    PARTY CONTENT WE RECEIVE THREE GOOD-FAITH AND EFFECTIVE COMPLAINTS
    WITHIN ANY CONTIGUOUS SIX-MONTH PERIOD WILL HAVE HIS GRANT OF USE OF THE
    WEBSITE TERMINATED.</strong>

            </p><p>If you believe that any of your copyrighted material is being
            infringed on SheetHub, notify us through the "Report" button on the infringing works' page. All notifications not relevant to us or ineffective under the law will receive no response or action thereupon. An effective notification
        of claimed infringement must be a written communication
        that includes substantially the following:

    </p><ol type="a">
    <li>Identification of the copyrighted work that is believed to be
        infringed. Please describe the work and, where possible, include a copy
        or the location (e.g., a URL) of an authorized version of the work;</li>
        <li>Identification of the material that is believed to be infringing and
         its location. Please describe the material and provide a URL or any
         other pertinent information that will allow us to locate the material on
         SheetHub;</li>
         <li>Information that will allow us to contact you, including your address, telephone number and, if available, your e-mail address;</li>
         <li>A statement that you have a good faith belief that the use of the
            material complained of is not authorized by you, your agent or the law;</li>
            <li>A statement that the information in the notification is accurate and
             that under penalty of perjury that you are the owner or are authorized
             to act on behalf of the owner of the work that is allegedly infringed;
             and</li>
             <li>A physical or electronic signature from the copyright holder or an authorized representative.</li>
         </ol>


<hr><h3>Disclaimer of Warranties</h3>

<p>
You expressly understand and agree that:
</p>

<p>a) Your use of the of SheetHub is at your discretion and risk. We disclaim any responsibility for the deletion, the failure to store, or failed or untimely delivery of any information or material. We disclaim any responsibility for any harm resulting from accessing information or material on the Internet using SheetHub. The Service is provided on an "as is" and "as available" basis. SheetHub and its subsidiaries, affiliates, officers, employees , agents, partners and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</p>

<p>b) SheetHub and its subsidiaries, affiliates, officers, employees , agents, partners and licensors make no warranty that the Service will meet your requirements; the Service will be uninterrupted, timely, secure or error-free; the result that may be obtained from the use of the Service will be accurate or reliable; the quality of any products, services, information or other material purchased or obtained by you through the Service will meet your expectations; or that any errors in the software will be corrected.</p>

<p>c) Any material downloaded or otherwise obtained through the use of SheetHub is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from m the download of any such material</p>


<hr><h3>Indemnification</h3>

<p>
You agree to indemnify and hold SheetHub and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claims, losses, damages and expenses, including court costs and reasonable attorneys fees, made by any third party due to or arising out of links you submit, post, transmit or otherwise make available through the Service, your use of the Service, your connection to the Service, your violation of the Terms.</p>

<hr><h3>Revision of Terms</h3>

<p>We reserve the right to revise this policy at any time, including by posting a new version at this website. You shall be responsible for reviewing and becoming familiar with any such modifications. Your use of the Services following such notification constitutes your acceptance of the terms and conditions of this Agreement as modified.</p>