<%
title "Upgrade"
keywords %w(upgrade pro plus premium)
%>

<div class="container" id="upgrade-page">
    <br />
    <h1 class="text-center">Go Pro on SheetHub</h1>
    <h2 class="text-center">Access awesome new features and support the community!</h2>

    <div class="col-xs-4">
    <%= render 'subscriptions/basic_table' %>
    </div>
    <div class="col-xs-4">
        <%= render 'subscriptions/plus_table', nobutton:false %>
    </div>
    <div class="col-xs-4">
      <%= render 'subscriptions/pro_table', nobutton:false %>
    </div>


</div>