# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  sheet_hash_secret: <%= ENV["SHEET_HASH_SECRET"] %>
  asset_hash_secret: <%= ENV["ASSET_HASH_SECRET"] %>
  s3_bucket: <%= ENV["S3_BUCKET"] %>
  s3_bucket_url: <%= ENV["S3_BUCKET_URL"] %>
  s3_access_key_id: <%= ENV["S3_ACCESS_KEY_ID"] %>
  s3_secret_access_key: <%= ENV["S3_SECRET_ACCESS_KEY"] %>
  s3_region: <%= ENV["S3_REGION"] %>
  paypal_mode: 'live'
  paypal_classic_app_id: <%= ENV["PAYPAL_CLASSIC_APP_ID"] %>
  paypal_email: <%= ENV["PAYPAL_EMAIL"] %>
  paypal_username: <%= ENV["PAYPAL_USERNAME"] %>
  paypal_password: <%= ENV["PAYPAL_PASSWORD"] %>
  paypal_signature: <%= ENV["PAYPAL_SIGNATURE"] %>
  paypal_domain: 'www.paypal.com'
  fb_key: <%= ENV["FB_KEY"] %>
  fb_secret: <%= ENV["FB_SECRET"] %>
  google_client_id: <%= ENV["GOOGLE_CLIENT_ID"] %>
  google_client_secret: <%= ENV["GOOGLE_CLIENT_SECRET"] %>
  mixpanel_token: <%= ENV["MIXPANEL_TOKEN"] %>
  discourse_sso_secret: <%= ENV["DISCOURSE_SSO_SECRET"] %>
