<li id="cart-dropdown" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout <span class="badge"><%= @cart ? @cart.orders.size : 0%></span></a>

  <ul id="cart" class="dropdown-menu" role="menu">
    <%= render 'carts/cart_items', orders: @cart.orders if @cart %>

    <% if @cart && @cart.orders.present? %>
        <li><a href="<%= carts_checkout_path %>"><span class="glyphicon glyphicon-shopping-cart"></span> Checkout</a></li>
    <% elsif @cart.nil? %>
      <li><p class="empty-cart-message"><span class="glyphicon glyphicon-eye-close"></span> Sign in to add items to cart!</p></li>
    <% end %>
  </ul>

</li>

<%= render 'carts/paypal_progress_modal' %>