<div id="paypalProgressModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="flagModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag "loading.gif", class: "center-block" %>
        <p>Please wait while we redirect you to Paypal.</p>
      </div>
    </div>
  </div>
</div>