<% title "Thank You" %>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h4>Thank You For Your Purchase</h4>
            <p class="bg-primary">You now have <strong>Unlimited Access</strong> to the following sheets</p>
            <div>
                <% if @purchased_sheets.each do |sheet| %>
                    <%= render 'sheets/sheet', sheet: sheet %>
                <% end.empty? %>
                  <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
                  <h2>No Sheets purchased.</h2>
                <% end %>
            </div>

            <div class="pull-left">
                <strong>What happens next?</strong>
                <p>You can view and print all of your purchased sheet music anytime, on any platform and device - without ever paying again. Enjoy! </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <a href="<%= user_purchases_path %>" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> View your Purchases</a>
            </div>
        </div>
    </div>
</div>

<%= render 'sheets/related', sheet:@purchased_sheets.last if @purchased_sheets.any? %>