<ul class="list-group basic-plan">
  <li class="list-group-item">
    <div class="pricing-box">
        <h1>Basic</h1>
        <h4>For everyone</h4>
    </div>
  </li>

  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Upload unlimited commercial sheets on SheetHub"><strong>Unlimited</strong> Uploads</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Upload up to 25 free sheets on SheetHub. Upgrade to Plus to upload more"><strong>25</strong> Free Sheets</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Earn up to 80% per transaction! Upgrade to Pro to earn even more">Earn <strong>80%</strong> for your sheet music</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="View detailed sales and earnings statistics">Sales Dashboard</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="We let your fans find your music on search engines by optimizing headings, titles and meta tags">Search Engine Optimized</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="You get a dedicated subdomain e.g. username.sheethub.co">Custom subdomain <span class='badge pro'>NEW</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Enabling PDF Stamping will stamp the buyer's name and email address on their PDF download"> PDF Stamping <span class='badge pro'>NEW</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Lets users pay above and beyond your listed price">Pay-what-you-want pricing <span class='badge pro'>NEW</span></li>
  <li class="list-group-item">
    <h1 class="membership-price"><span class="fade-text"> $ </span> 0 <span class="fade-text"> / mo</span></h1>
    <p class="fade-text text-center">Free forever</p>
  </li>
  <% unless current_user %>
  <li class="list-group-item well">
    <a href="<%= new_user_registration_url %>">
        <button type="button" class="btn btn-block btn-lg btn-default">Sign Up</button>
    </a>
  </li>
  <% end %>
</ul>