<ul class="list-group plus-plan">
  <li class="list-group-item">
    <div class="pricing-box">
        <h1><i class="pull-right fa fa-plus-circle"></i></h1>
        <h1>Plus</h1>
        <h4>For serious hobbyists</h4>
    </div>
  </li>
  <% unless nobutton || (current_user && (current_user.membership_type == "plus" || current_user.membership_type == "pro"))%>
  <li class="list-group-item well">
    <a href="<%= subscriptions_purchase_path(:plus) %>">
        <button type="button" class="btn btn-block btn-primary" style="background: #2583EB;"><i class="fa fa-star"></i> Upgrade to Plus</button>
    </a>
  </li>
  <% end %>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Upload up to 100 pieces on SheetHub. Upgrade to Pro to upload even more"><strong>100</strong> Uploads <span class="badge">PLUS</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Earn 85% royalty for your sheet music. Upgrade to Pro to earn even more">Earn money for your sheet music <span class="badge">PLUS</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Upload private sheets visible only to you">Private Sheets</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="View detailed sales and earnings statistics">Sales Dashboard</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="We let your fans find your music on search engines by optimizing headings, titles and meta tags">Search Engine Optimized</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Enabling PDF Stamping will stamp the buyer's name and email address on their PDF download"> PDF Stamping <span class="badge">PLUS</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Faster replies to email responses"> Priority Support <span class="badge">PLUS</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Lets users pay above and beyond your listed price">Pay-what-you-want pricing <span class='badge fade-bg'>SOON</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="You get a dedicated subdomain e.g. username.sheethub.co">Custom subdomain <span class='badge fade-bg'>SOON</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="left" title="Write personalized thank you messages for users who purchase your sheet music">Purchase Thank You notes <span class='badge fade-bg'>PLANNED</span></li>
  <li class="list-group-item">
    <h1 class="membership-price"><span class="fade-text"> $ </span> 8 <span class="fade-text"> / mo</span></h1>
    <p class="fade-text text-center">Less than 30c a day!</p>
  </li>
  <% unless nobutton || (current_user && (current_user.membership_type == "plus" || current_user.membership_type == "pro"))%>
  <li class="list-group-item well">
    <a href="<%= subscriptions_purchase_path(:plus) %>">
        <button type="button" class="btn btn-block btn-primary" style="background: #2583EB;"><i class="fa fa-star"></i> Upgrade to Plus</button>
    </a>
  </li>
  <% end %>

</ul>