<ul class="list-group plus-plan">
  <li class="list-group-item">
    <div class="pricing-box">
        <h1><em class="pull-right fa fa-plus-circle"></em></h1>
        <h1>Plus</h1>
        <h4>For serious hobbyists</h4>
    </div>
  </li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Upload unlimited commercial sheets on SheetHub"><strong>Unlimited</strong> Uploads</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Upload up to 75 free sheets on SheetHub. Upgrade to Pro to upload even more"><strong>75</strong> Free Sheets <span class="badge">PLUS</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Earn up to 85% per transaction! Upgrade to Pro to earn even more">Earn <strong>85%</strong> for your sheet music</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="View detailed sales and earnings statistics">Sales Dashboard</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="We let your fans find your music on search engines by optimizing headings, titles and meta tags">Search Engine Optimized</li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="You get a dedicated subdomain e.g. username.sheethub.co">Custom subdomain <span class='badge pro'>NEW</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Enabling PDF Stamping will stamp the buyer's name and email address on their PDF download"> PDF Stamping <span class='badge pro'>NEW</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Lets users pay above and beyond your listed price">Pay-what-you-want pricing <span class='badge pro'>NEW</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="Grant access to your work through one-time download keys - perfect for fan rewards!">Download Keys <span class='badge fade-bg'>PLANNED</span></li>
  <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="An embeddable piece of HTML that you can put on other sites that enables visitors to download or buy your work">SheetHub Widget <span class='badge fade-bg'>PLANNED</span></li>
  <li class="list-group-item">
    <h1 class="membership-price"><span class="fade-text"> $ </span>6 <span class="fade-text"> / mo</span></h1>
    <p class="fade-text text-center">You can cancel at any time. </p>
  </li>
  <% unless nobutton || (current_user && (current_user.membership_type == "plus" || current_user.membership_type == "pro"))%>
  <li class="list-group-item well">
    <a href="<%= subscriptions_purchase_url(:plus) %>">
        <button type="button" class="btn btn-block btn-lg btn-primary"><em class="fa fa-plus-circle"></em> Get Plus</button>
    </a>
  </li>
  <% end %>

</ul>