<h1>Congratulations!</h1>
<p>Hi <%= @buyer.display_name %>, </p>
<p>Congratulations on your new <strong>SheetHub <%= @membership_type %> Membership</strong>! You now enjoy higher earnings (for Pro) and additional features. Enjoy! Thank you for supporting SheetHub, the easiest publishing platform for musicians!</p>
<p>This email message will serve as your receipt.</p>

<div class="summary">
    <h3>Payment Summary</h3>
    <em>Membership</em>
    <p><%= @membership_type %></p>
    <em>Purchase Date</em>
    <p><%= @subscription.updated_at.strftime('%A, %d %b %Y') %></p>
    <em>Amount</em>
    <p><%= number_to_currency(Subscription.subscription_amount(@membership_type.downcase)) %> / month</p>
    <em>Tracking Id</em>
    <p><%= @subscription.tracking_id %></p>
</div>
