/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.default
 *= require s3_direct_upload_progress_bars
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import "bootstrap";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}


input[type="text"], textarea {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

}

// Table
.table-container {
    background: #fff
}

a {
    text-decoration:none;

    &:hover, &:focus {
        text-decoration: none;
    }

}