/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.default
 *= require nprogress
 *= require nprogress-bootstrap
 *= require s3_direct_upload_progress_bars
 *= require font-awesome
 *= require_self
 *= require_tree .
 *= require bootstrap-social
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import "bootstrap";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

a {
    text-decoration:none;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    /* ...and now for the proper property */
    transition:.1s;

    &:hover, &:focus {
        text-decoration: none;
    }

}
