#banner {
    height: 150px;
    position: relative;
    background: #1a1a1a url("http://33.media.tumblr.com/8d41610b4f5e7d5b68e4430b736fbeb3/tumblr_n4vbj2Vv8h1st5lhmo1_1280.jpg") no-repeat bottom center;
    background: #1a1a1a url("http://unsplash.imgix.net/reserve/z7R1rjT6RhmZdqWbM5hg_R0001139.jpg?fit=crop&fm=jpg&h=695&q=75&w=1050") no-repeat center center;
    background: #1a1a1a url("http://i.imgur.com/Zdj9r8o.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px 40px;
    clear: left;

    h1, h4 {
        width: 800px;
        margin: 0px auto;
        margin-bottom:0px;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    }

    h1 {
        margin-top: 40px;
    }

    h4 {
        font-weight: 300;
        margin-top:10px;
    }

}

#banner.footer-banner {
    height: 80px;
    padding: 20px 40px;

    h3 {
        float: left;
        color: white;
        margin: 0px;
        line-height: 42px;
        font-weight: 300;
    }

    a {
        float:right;
    }

}

@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:520px -520px;}
}

#animated-banner {
    height: 150px;
    background: url("http://docs.mashape.com/imgs/pttrn.a7201f56.svg");
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    -webkit-animation: bgscroll 30s infinite linear;
    -moz-animation: bgscroll 30s infinite linear;
    -ms-animation: bgscroll 30s infinite linear;
    -o-animation: bgscroll 30s infinite linear;
    animation: bgscroll 30s infinite linear;

    h1 {
        color: #2583EB;
        margin: 0px;
        padding-top: 35px;
    }

    h2 {
        margin: 10px;
        text-transform: uppercase;
        font-size: 18px;
        color: #b8c0c7;
        font-weight: 400;
    }

    h1, h2 {
        text-align: center;
    }

}

#animated-banner.footer-banner {
    height: 200px;
    border-top: 1px solid #ddd;

    .btn {
        width: 200px;
        margin-top: 20px;
    }
}