#banner {
    height: 150px;
    position: relative;
    background: #333 url("http://subtlepatterns.com/patterns/footer_lodyas.png") repeat-x top left;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px 40px;
    clear: left;

    h1, h4 {
        width: 800px;
        margin: 0px auto;
        margin-bottom:0px;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    }

    h1 {
        margin-top: 40px;
    }

    h4 {
        font-weight: 300;
        margin-top:10px;
    }

}

#banner.footer-banner {
    height: 80px;
    padding: 20px 40px;

    h3 {
        float: left;
        color: white;
        margin: 0px;
        line-height: 42px;
        font-weight: 300;
    }

    a {
        float:right;
    }

}

@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:520px -520px;}
}

.animated-banner {
    height: 300px;
    background: url(image_path('bg.svg'));
    border-bottom: 1px rgba(0,0,0,0.05) solid;
    -webkit-animation: bgscroll 30s infinite linear;
    -moz-animation: bgscroll 30s infinite linear;
    -ms-animation: bgscroll 30s infinite linear;
    -o-animation: bgscroll 30s infinite linear;
    animation: bgscroll 30s infinite linear;

    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        color: #2583EB;
        margin: 0px;
        padding-top: 100px;
    }

    h2 {
        margin: 10px;
        font-size: 18px;
        color: #aaa;
        font-weight: 400;
    }

    h1, h2 {
        text-align: center;
    }

}

.animated-banner.footer-banner {
    height: 225px;
    border-top: 1px solid #ECEDEF;

    h1 {
        padding-top: 85px;
    }
}

#related .btn {
    width: 200px;
    margin-top: 20px;
}