#banner {
    height: 200px;
    margin-top: -20px;
    position: relative;
    background: #1a1a1a url("http://33.media.tumblr.com/8d41610b4f5e7d5b68e4430b736fbeb3/tumblr_n4vbj2Vv8h1st5lhmo1_1280.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 20px 40px;
    clear: left;

    h2, h3 {
        width: 800px;
        margin: 20px auto;
        color: white;
        text-align: center;
    }

}
