#banner {
    height: 200px;
    margin-top: -20px;
    position: relative;
    background: #1a1a1a url("http://33.media.tumblr.com/8d41610b4f5e7d5b68e4430b736fbeb3/tumblr_n4vbj2Vv8h1st5lhmo1_1280.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 20px 40px;
    clear: left;

    h1, h4 {
        width: 800px;
        margin: 30px auto;
        margin-bottom:0px;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    }

    h4 {
        font-weight: 300;
        margin-top:10px;
    }

}

#banner.footer-banner {
    height: 80px;

    h3 {
        float: left;
        color: white;
        margin: 0px;
        line-height: 42px;
    }

    a {
        float:right;
    }

}