.breadcrumb {
    list-style-type: none;
    border-radius: 50px;
    padding: 0px 20px;
}
.breadcrumb .fa {
    opacity: 0.3;
    padding-right: 10px;
}
.breadcrumb li {display:inline; font-size: 18px;}
.breadcrumb>li+li:before {color: #aaa; content: "\002F\00a0"; padding: 0px 5px;}