// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart-dropdown .badge {
    background-color: rgba(0,0,0, 0.2);
    margin-left: 4px;
    font-size: 14px;
    font-weight: normal;
}

#cart {
    width: 360px;

    .cart-total strong p {
        margin-top: 5px;
        margin-bottom:0px;
    }

    .cart-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.14902);;
        padding: 5px 20px;

        a {
            display: inline;
            padding: 0px;
            font-size: 16px;

            &:hover, &:active {
                background: none;
                color: #2a6496;
            }

            &.cart-remove-item {
                float: right;
                margin-top: 15px;
                font-size: 12px;
            }
        }
    }

    .empty-cart-message {
        padding: 5px 20px;
    }

    #paypal-checkout-btn {
        padding: 10px 20px;
    }
}

