.line-divider {
    width:auto;
    text-align:center;
    margin-top: 10px;
    margin-bottom: -15px;
    line-height: 40px;
    color: #8E959C;
}

.line-divider hr {
    margin-left:auto;
    margin-right:auto;
    width:40%;

}

.left {
    float:left;
}

.right {
    float:right;
}