// Place all the styles related to the Embeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background: #eee;
}