#features {
    h1, h2 {
        text-align: center;
    }

    h1 {
        font-family: 'Roboto Slab', serif;
    }

    h1, h3 {
        color: #2583EB;
        font-weight: 400;
    }

    h3 {
        margin-bottom: 5px;
    }

    .fa {
        font-size: 28px;
        color: #5cb85c;
        margin-top: 24px;
    }

    h2 {
        margin: 0 15%;
    }

    p, h2 {
        color: #888;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    .feature {
        height: 160px;
    }

    .feature .col-xs-1 {
        padding: 0px;
    }

    .feature .col-xs-11 {
        padding-left: 0px;
    }

    img {
        width: 80%;
        margin: 40px 10%;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        border-radius: 4px;
    }

    .btn {
        width: 40%;
        text-transform: uppercase;
        margin-bottom: 75px;
    }

}
