#filter-toggle, #sort-order {
    margin-top: 20px;
    height: 36px;
}

#sheet_sort_order + .selectize-control{
    .selectize-input {
        width: 160px;
        float: right;
        margin-top: 20px;
    }
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#filter-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#wrapper.toggled #filter-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* filter Styles */

.filter-nav {
    position: absolute;
    top: 0;
    width: 205px;
    margin: 0;
    padding: 0;
    margin-left: 45px;
    border-radius: 4px;
    border: 1px solid #d8dae4;
    background: #fff;
    list-style: none;

    li:first-child h5 {
        padding-top:0px;
        border-top:none;
    }

    h5 {
        padding: 10px 0px;
        border-bottom: 1px solid rgb(216, 218, 228);
        border-top: 1px solid rgb(216, 218, 228);
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
        box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
        background-color: #f9f9f9;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
        background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));
        background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
    }

}

.filter-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.filter-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.filter-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.filter-nav li a:active,
.filter-nav li a:focus {
    text-decoration: none;
}

.filter-nav > .filter-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.filter-nav > .filter-brand a {
    color: #999999;
}

.filter-nav > .filter-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #filter-wrapper {
        width: 250px;
    }

    #wrapper.toggled #filter-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}