footer {
    a.badge {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        padding: 6px 12px;
        font-weight: 100;
        background: #777;

        &:hover, &:focus {
            background: #2583eb;
        }
    }

    &.panel-footer {
        padding: 40px 60px;
        background: #333;
        border-top: none;

        .container-fluid {
            opacity: 0.7;
        }

    }

    ul {
        height: 50px;
        padding: 15px;
        margin-bottom: 0px;

        li, li a {
            color: #999;
        }

        a:hover, a:focus {
            color: #ECEDEF;
        }
     }

    .social-link {
        display:inline-block;
        font-size: 36px;
        color: #555;
        &:hover, &:focus {
            color: #777;
        }
    }
}
