input[type="email"], input[type="number"], input[type="text"], textarea {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.form-actions input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
}


.radio-btn-toolbar {
    margin-left: 20px;

    .radio {
        display: inline-block;
        width: 50%;
    }

}

.input-group {
    #amount {
        font-size: 24px;
    }

    #amount, #sheet_price {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}

form.sleek-form {
    padding: 10px;

    .control-group {
        margin-bottom: 10px;

        label {
            font-weight: normal;
        }

        .controls {
            input, textarea {
                padding: 20px 15px;
                font-size: 18px;
            }
        }
    }

    input[type="submit"] {
        text-transform: uppercase;
    }
}

div.checkbox.limit-purchases {
    padding-bottom: 0px;

    label {
        width: 100%;

        label {
            width: 70%;
            float: left;
        }

        input.numeric {
            width: 20%;
            margin-top: 2px;
            margin-bottom: -2px;
            margin-right: 2px;
        }
    }
}