.container.landing {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #2b86ec; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b86ec 0%, #177dea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b86ec), color-stop(100%,#177dea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2b86ec 0%,#177dea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2b86ec 0%,#177dea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2b86ec 0%,#177dea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2b86ec 0%,#177dea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b86ec', endColorstr='#177dea',GradientType=0 ); /* IE6-9 */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.row.landing {
    margin-top:15%
}

.landing h1, h2 {
    text-align: center;
}

.landing h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    margin: 0px auto;
}

.landing h2 {
    color: rgba(255,255,255,0.65);
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}

.landing .mc-field-group {
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}

.landing input[type=email] {
    border: 0;
    border-radius: 5px;
    color: #404040;
    font-size: 1.3125em;
    height: 45px;
    letter-spacing: .025em;
    outline: 0;
    padding: 0 15px;
    vertical-align: middle;
    width: 80%;
}

.landing input[type=submit] {
    width: 17%
}