.navbar .nav > .active > a {
    color: #fff;
    background: rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;

    &:hover, &:focus, {
        color: #fff;
        background: rgba(0,0,0,0.4);
        border-radius: 4px;
        padding: 10px 15px;
        margin: 5px;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #fff;
        background: rgba(0,0,0,0.3);
        border-radius: 4px;
    }

.navbar {
    font-weight: 300;
    background: #2583EB;
    margin-bottom:0px;
    padding: 5px;
    border: none;

    .collapse {
        padding: 0px;
    }

    ul.nav li a{
        color:#fff;
        padding: 10px 15px;
        margin: 5px;

        &:hover, &:focus, &:active{
            color: #fff;
            background: rgba(0,0,0,0.3);
            border-radius: 4px;
        }

    }

    .navbar-brand {
        color: #fff;
        font-size: 24px;
        font-weight: 400;

        &:hover, &:focus, &:active{
            color: #fff;
        }

    }

    ul.dropdown-menu li a {
        color: #2583EB;
        margin: 0px;

        &:hover, &:focus, &:active{
            color: #fff;
            background: #2583EB;
            border-radius: 0px;
        }
    }
}

.nav-strip {
    color: #428bca;
    height: 40px;
    background: #d9edf7;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bce8f1;

    ul {
        text-decoration: none;

        li {


        }
    }
}