.navbar .nav > .active > a {
    color: white;
    background: rgba(0,0,0,0.15);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 100px;

    &:hover, &:focus, {
        color: white;
        background: rgba(0,0,0,0.3);
        padding: 10px 15px;
        margin: 5px;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: white;
        background: rgba(0,0,0,0.2);
    }

.navbar {
    font-weight: 300;
    background: #2583EB;
    margin-bottom:0px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    -moz-box-shadow: 0 -2px 7px 2px rgba(0,0,0,.4);
    -ms-box-shadow: 0 -2px 7px 2px rgba(0,0,0,.4);
    -o-box-shadow: 0 -2px 7px 2px rgba(0,0,0,.4);
    box-shadow: 0 -2px 7px 2px rgba(0,0,0,.4);

    .container-fluid {
        padding: 0 40px;
    }

    .collapse {
        padding: 0px;
    }

    ul.nav li a{
        color: white;
        padding: 15px;

        &:hover, &:focus, &:active{
            color: white;
            background: rgba(0,0,0,0.2);
        }

    }

    .navbar-brand {
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 24px;

        &:hover, &:focus, &:active{
            color: white;
        }

        span.badge {
            font-weight: normal;
            background: rgba(0, 0, 0, 0.15);
            font-size: 10px;
        }

    }

    ul.dropdown-menu li a {
        color: #2583EB;
        margin: 0px;
        border-radius: 0px;

        &:hover, &:focus, &:active{
            color: white;
            background: #2583EB;
        }

        &.bg-success {
            color: #5cb85c;
            &:hover, &:focus, &:active{
                color: white;
                background: #5cb85c;
            }
        }
    }
}

.nav-strip {
    color: #2583EB;
    height: 40px;
    padding: 10px 0px;
    border-bottom: 1px solid #bce8f1;

    .container-fluid {
        padding: 0 40px;
    }

    ul {
        text-decoration: none;
    }
}

.alpha {
    background: #5cb85c;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    a {
        background: rgba(0,0,0,0.2);
        color: rgba(255,255,255,0.8);
        border-radius: 4px;
        padding: 2px 6px;
        margin-left: 5px;

        &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.35);
        }
    }
}

#user-dropdown {

    a.dropdown-toggle {
        padding: 10px;
    }

    .navbar-avatar {
        height: 30px;
        border-radius: 1000px;
    }
}

.navbar-nav > li > .dropdown-menu {
    border-top: none;
}


.navbar ul.nav li .dropdown-menu > li > a {
    padding: 5px 10px;
}

.dropdown-menu {
    min-width: 125px;

    hr {
        margin: 5px 0px;
    }
}