#banner.profile-banner {
    height: 130px;

    .social-links {
        a {
            margin-left: 4px;
        }
    }

    .social-link {
        font-size: 32px;
        color: #777;

        &:hover, &:focus, &:active {
            color: #fff;
        }
    }

    .profile-avatar {
        float: left;
        min-width: 80px;
        max-width: 80px;
        border-radius: 1000px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .profile-bio {
        float: left;
        margin-top: 20px;

        p, h1 {
            margin: 0px;
        }

        p {
            color: rgba(255, 255, 255, 0.7);
        }

        a {
            color: rgba(255, 255, 255, 0.7);

            &:hover, &:focus, &:active {
                color: rgba(255, 255, 255, 1);
            }
        }

        h1 {
            font-family: 'Source Sans Pro';
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            display: inline;
        }

        h1 a {
            color: rgba(255, 255, 255, 1);
        }
    }
}

.user-bio {
    margin-left: 1em;

    h3 {
        font-family: 'Source Sans Pro';
        font-weight: 600;
        display: inline;
    }

    p {
        color: #999;
    }

    .list-inline {
        margin-bottom: 0px;

        p {
            color: #555;
        }
    }
}

.nav-strip-profile {
    background: #fff;
    padding: 0px 20px;
    padding-top: 5px;
    height: 50px;

    .container-fluid {
        padding:0px 40px;
    }

    .fade-text {
        padding: 0px 5px;
    }
}

.nav-strip-profile .list-inline {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.nav-strip-profile .list-inline > li {
    margin: 0px 10px;
    padding-bottom: 8px;
    font-style: normal;

    h4 a {
        font-size: 16px;
        color: #aaa;

        &:hover, &:focus, &:active {
            color: #333;
        }
    }
}

.nav-strip-profile .list-inline > li.active {
    border-bottom: 3px solid;
    padding-bottom: 2px;

    h4 a {
        color: #333;
    }
}

#all-users {
    .col-xs-4 {
        width: 30%;
        margin: 1.66666666665%;
    }

}

.wysihtml5-sandbox {
    min-height: 420px;
}