#avatar-preview {
    max-width: 300px;
}

#banner.profile-banner {
    height: 150px;
    padding-left: 5%;

    .profile-avatar {
        float: left;
        min-width: 100px;
        max-width: 100px;
        border-radius: 6px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .profile-bio {
        float: left;
        margin-top: 20px;

        p, h1 {
            margin: 0px;
        }

        p {
            color: rgba(255, 255, 255, 0.7);
        }

        a {
            color: rgba(255, 255, 255, 0.7);
            display:block;

            &:hover, &:focus, &:active {
                color: rgba(255, 255, 255, 1);
            }
        }

        h1 {
            color: rgba(255, 255, 255, 1);
            display: inline;
        }
    }
}

.avatar-input {
    padding-bottom: 20px;
}

.nav-strip-profile {
    background: #fff;

    .container-fluid {
        padding:0px 40px;
    }
}

.nav-strip-profile .list-inline {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.nav-strip-profile .list-inline > li {
    margin: 0px 10px;
    padding-bottom: 8px;
}

.nav-strip-profile .list-inline > li.active {
    border-bottom: 2px solid;
    padding-bottom: 8px;
}
