.profile-info {
    padding: 0px;

    .glyphicon {
        font-size: 12px;
    }

    .well {
        margin-top: 10px;
    }

}

#banner.profile-banner {
    height: 150px;

    .profile-avatar {
        float: left;
        min-width: 100px;
        max-width: 100px;
        border-radius: 100%;
    }

    .profile-bio {
        float: left;
        margin-top: 20px;

        a, p, h1 {
            margin: 0px;
            margin-left: 20px;
        }

        p, h1 {
            color: rgba(255, 255, 255, 0.9);
        }

        h1 {
            font-size: 48px;
        }

        a {
            display:block;
        }

        h1 {
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
            display: inline;
        }
    }
}

.avatar-input {
    padding-bottom: 20px;
}