#related-tags, #related-sheets {
    span {
        -o-transition:.1s;
        -ms-transition:.1s;
        -moz-transition:.1s;
        -webkit-transition:.1s;
        transition:.1s;
    }

    h2 .fa {
        font-size: 28px;
    }
}

#related {
    height: 320px;
    position: relative;
    margin-top: 50px;
    background: #ddd url('http://i.imgur.com/5OnbXxq.jpg') no-repeat bottom center;
    background-size: cover;
    padding: 20px 70px;
    clear: left;
    -moz-box-shadow:inset 0 2px 8px -1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow:inset 0 2px 8px -1px rgba(0, 0, 0, 0.4);
    -o-box-shadow:inset 0 2px 8px -1px rgba(0, 0, 0, 0.4);
    box-shadow:inset 0 2px 8px -1px rgba(0, 0, 0, 0.4);

    h2 {
        color: rgba(255,255,255,0.9);
        font-family: 'Roboto Slab', serif;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
        font-weight: 300;
    }

    #related-tags {
        width: 40%;
        float: left;
        padding-right: 20px;

        .fa-heart-o {
            font-size: 28px;
        }

    }

    #related-sheets {
        width: 60%;
        float: left;
        padding: 10px;

        .related-sheet {
            cursor: pointer;
            color: #fff;
            width: 48%;
            border-radius: 4px;
            padding: 10px 15px;
            border: 1px solid #0073bb;
            background-color: #1b9dec;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
            background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#1da7ee), to(#178ee9));
            background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
            background-repeat: repeat-x;
            box-shadow: 0 1px 0 rgba(0,0,0,0.8),inset 0 1px rgba(255,255,255,0.13);
            float: left;
            opacity: 0.9;
            margin: 1%;

            &:hover, &:focus, &:active{
                opacity: 1;
            }

            em {
                color: rgba(255,255,255,0.6);
                font-size:12px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 300;
            }

            em.fa {
                color: #fff;
            }

            h4 {
                margin: 0px;
            }

            h5 {
                font-weight: 300;
                margin: 0px;
                color: rgba(255,255,255,0.6);
            }
        }
    }
}