#related-tags, #related-sheets {
    span {
        -o-transition:.1s;
        -ms-transition:.1s;
        -moz-transition:.1s;
        -webkit-transition:.1s;
        transition:.1s;
    }
}

#related {
    height: 250px;
    position: relative;
    margin-top: 70px;
    background: #1a1a1a url('http://33.media.tumblr.com/8d41610b4f5e7d5b68e4430b736fbeb3/tumblr_n4vbj2Vv8h1st5lhmo1_1280.jpg') no-repeat bottom center;
    background-size: cover;
    padding: 20px 40px;
    clear: left;

    h1 {
        color: rgba(255,255,255,0.9);
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
        font-weight: 300;
    }

    #related-tags {
        width: 40%;
        float: left;
        padding-right: 20px;

        .glyphicon-tags {
            color: #fff;
            font-size: 24px;
        }

    }

    #related-sheets {
        width: 60%;
        float: left;
        padding: 10px;

        .related-sheet {
            cursor: pointer;
            color: #fff;
            width: 48%;
            border-radius: 4px;
            padding: 10px 15px;
            border: 1px solid #0073bb;
            background-color: #1b9dec;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
            background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#1da7ee), to(#178ee9));
            background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
            background-repeat: repeat-x;
            float: left;
            opacity: 0.85;
            margin: 1%;

            &:hover, &:focus, &:active{
                opacity: 1;
            }

            em {
                font-size:12px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 300;
            }

            h4 {
                margin: 0px;
                margin-top: 2px;
            }

            h5 {
                font-weight: 300;
                margin: 0px;
                color: rgba(255,255,255,0.6);
            }
        }
    }
}