#payout-info p a {
    margin-right: 10px;
}

#sales-by-date table, #sales-by-title table {
    width: 98%;
    margin: 1%;
}

#sales-stats {
    margin-bottom: 20px;

    h1 {
        color: #2583EB;
        font-weight: bold;
    }
}