.search-bar{
    width: 30%;
    margin-bottom: 0px;
}

.banner-search-bar {
    width: 40%;
    margin: 20px auto;
}

.input-group .form-control:first-child {
    border-radius: 4px;
}

.search-bar input {
    border-color: white;
}

.twitter-typeahead {
    width: 100%;

    input.form-control.typeahead.tt-input {
        border-radius: 4px;
    }
}