.share {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.google {
    background-image: url("http://w.sharethis.com/images/googleplus_32.png");
}
.twitter {
    background-image: url("http://w.sharethis.com/images/twitter_32.png");
}
.facebook {
    background-image: url("http://w.sharethis.com/images/facebook_32.png");
}
