#sheet-header {

    h1 {
        margin:0px;
        margin-top: 5px;
    }

    h4 {
        margin-top:0px;
        margin-bottom:30px;
        color: #aaa;
    }

}

.sheet-price {
    font-size: 30px;
    font-weight: 700;
    color: #5cb85c;

    p {
        margin-bottom:0px;
    }
}

.sample_sheet {
    width: 100%;
}

#sheet-sidebar {
    em {
        color: #aaa;
    }


}

#sheet {
    .panel {
        margin-bottom: 20px;
    }
}

#sheet-files {


    a {
        &:hover, &:focus, &:active {
                text-decoration: none;
        }
    }
}

.sheet-file {
    background: rgba(37,131,235, 0.8);
    border-radius: 4px;

    &:hover, &:focus, &:active {
            text-decoration: none;
            background: rgba(37,131,235, 1);
    }

    .glyphicon {
        opacity: 0.7;
    }

    p {
        color: #fff;
        padding: 10px;
    }


    strong {
        font-weight: normal;
        float:right;
        color: rgba(255,255,255, 0.7)
    }


}

#assets_container, ul#sheet-files {
    margin:0px;
    list-style-type: none;
    padding-left: 0px;
    a:first-child {
        width: 90%;
        display: inline-block;
    }
}

.sheet-delete {
    padding:5px;
}