#sheet-header {
    text-align: center;

    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        margin:0px;
        margin-top: 5px;

        a {
            color: rgb(51, 51, 51);
        }
    }

    h4 {
        margin-top:0px;
        color: #aaa;
    }

}

.sheet-buy-now-text, .sheet-price {
    font-size: 24px;
    color: #5cb85c;
    font-weight: bold;

    p {
        margin-bottom:0px;
    }
}

.sheet-price-text {
    color: #5cb85c;
    font-size: 18px;
}

.sheet-price {
    line-height: 34px;
    padding-left: 30px;
}

.sample_sheet {
    width: 100%;
    background: #fff;
    border-radius:4px;
    border: 1px solid #ddd;
    margin-bottom:10px;
}

.sheet-preview {
    height: 360px;
    overflow: hidden;
    background: #fff;
    border-radius:0px;
    border-top: 1px solid #eee;

    img {
        width: 100%;
    }
}

#sheet-sidebar {
    padding: 0px;

    .publish-date {
        color: #aaa;
    }
}

#sheet {
    .panel {
        margin-bottom: 20px;
    }
}

#sheet-files {


    a {
        -o-transition:.1s;
        -ms-transition:.1s;
        -moz-transition:.1s;
        -webkit-transition:.1s;
        transition:.1s;

        &:hover, &:focus, &:active {
                text-decoration: none;
        }
    }

    a.disabled .sheet-file {
        background: #eee;
    }
}

#sheet-direct-url {
    cursor:text;
    background:#fff;
}

.sheet-file-missing {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;

    p {
        margin: 0px;
    }
}

.sheet-file {
    border-radius: 4px;
    border: 1px solid #ddd;
    background: -moz-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background: -webkit-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background: -o-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background: -ms-linear-gradient(top,#fff 0,#f5f5f5 100%);
    background: linear-gradient(top,#fff 0,#f5f5f5 100%);


    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #fff;
        border: 1px solid #0073bb;
        background-color: #1b9dec;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
        background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1da7ee), to(#178ee9));
        background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
        background-repeat: repeat-x;
    }

    .glyphicon {
        opacity: 0.7;
    }

    p {
        margin: 0px;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    strong {
        font-weight: normal;
        float:right;
    }


}

#assets_container, ul#sheet-files {
    margin:0px;
    list-style-type: none;
    padding-left: 0px;
    a:first-child {
        width: 100%;
        display: inline-block;
    }
}

#assets_container, ul#sheet-files.editable {
    li a:first-child {
        width: 90%;
    }
}

.sheet-delete {
    padding:10px;
}

.publishing-rights {
    float: right;
    color: #1b9dec;
}

div.wide-sheets div.sheet {
    width: 50%;
    margin: 20px;
}

.sheet-star {
    color: #aaa;
}

#sheets {
    width: 100%;
    float: left;
}

#purchased-sheets {
    .sheet {
        width: 50%;
        margin: 10px auto;
    }
}

.sheet {
    background: white;
    width: 32%;
    margin: 0.5%;
    float: left;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border: 1px solid #bce8f1;

    &:hover {
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        cursor: pointer;
    }

    hr {
        margin: 5px 0px;
    }

    h3 {
        color: #2583EB;
        margin: 0px;
    }

    p {
        color: #333;
    }

    .sheet-text {
      width: 100%;
      padding: 10px;
      padding-bottom: 0px;
        h3 {
            font-size: 18px;
        }

        h3, p {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .glyphicon {
        font-size: 12px;
    }

    .sheet-instruments {
        font-size: 12px;
        margin: 0px;
        text-transform: uppercase;
        color: #aaa;
    }

    .sheet-user, .sheet-restore {
        padding: 5px 10px;
        color: #31708f;
        background-color: rgba(240, 240, 240, 0.6);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .sheet-restore {
        background-color: rgb(92, 184, 92);
        color: #fff;
    }

}

.table-sheet {
    width: auto;
    margin: auto;
    float:none;
    border-radius: 0px;
    border: 0px;
}

.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
}

.sheets-heading {
    color: #5cb85c;
    font-weight: 600;
    text-align: center;
}

.sheets-subheading {
    color: #888;
    font-weight: 300;
    text-align: center;
}
