#sheets {
    width: 100%;
    float: left;
}

#purchased-sheets {
    .sheet {
        width: 50%;
        margin: 10px auto;
    }
}

.sheet {
    background: white;
    width: 32%;
    margin: 0.5%;
    float: left;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border: 1px solid #bce8f1;

    &:hover {
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        cursor: pointer;
    }

    hr {
        margin: 5px 0px;
    }

    h3 {
        color: #2583EB;
        margin: 0px;
    }

    p {
        color: #303030;
    }

    .sheet-text {
      width: 100%;
      padding: 10px;
      padding-bottom: 0px;
        h3 {
            font-family: 'Roboto Slab';
            font-weight: 300;
            font-size: 22px;
        }

        h3, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .glyphicon {
        font-size: 12px;
    }

    .sheet-instruments {
        font-size: 12px;
        margin: 0px;
        text-transform: uppercase;
        color: #aaa;
    }

    .sheet-user, .sheet-restore {
        padding: 5px 10px;
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .sheet-restore {
        background-color: rgb(92, 184, 92);
        color: #fff;
    }

}