.tag {
    display: inline-block;
    cursor: pointer;
    margin: 2px 0px;
    opacity: 0.85;
    padding: 4px 8px;
    color: #ffffff;
    border: 1px solid #0073bb;
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.9);
    border-radius: 4px;
    background-color: #1b9dec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
    background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1da7ee), to(#178ee9));
    background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);

    &:hover, &:focus {
        opacity: 1;
    }
}

.flat-tags .tag {
    color: #1b9dec;
    border: 1px solid #ddd;
    text-shadow: none;
    box-shadow: none;
    background:none;
    background-image:none;
    opacity: 1;

    &:hover, &:focus {
        border: 1px solid transparent;
        background-color: #1b9dec;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
        background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1da7ee), to(#178ee9));
        background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
        background-repeat: repeat-x;
        color: #fff
    }

}

.tag-count {
    padding-left: 2px;
    opacity: 0.8;

    &:before {
        content: "(";
    }

    &:after {
        content: ")";
    }
}

.tag-container {
    background: white;
    padding: 20px 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .tag-group-text {
        margin-top: 10px;

        p {
            margin-bottom: 0px;
            padding-left: 10px;
        }

        h3 {
            padding-left: 10px;
            margin-top: 0px;
        }

    }

}
