<p>Dear <%= @resource.display_name %>,</p>

<p>Your account has been temporarily locked due to unlawful conduct and breaches to SheetHub's <%= link_to 'Terms of Service', terms_url %>.</p>
<p>Please Contact our staff from the <%= link_to "SheetHub Help", faq_url %> page for instructions on how to restore your account.</p>

<p>Cheers,</p>
<p>SheetHub</p>