<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-rocket"></em> The easiest publishing platform for musicians! <%= link_to "Learn More", features_url %> <%= link_to "http://blog.sheethub.co/post/107029226688/introducing-preview-mode" do %><em class="fa fa-star"></em> New: Introducing Preview Mode<% end %></p>
  </div>
</div>