<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-bullhorn"></em> News from the SheetHub Blog <%= link_to "http://blog.sheethub.co/post/114997377358/march-updates" do %><em class="fa fa-star"></em> March Updates<% end %></p>
  </div>
</div>