<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-bullhorn"></em> News from the SheetHub Blog <%= link_to "http://blog.sheethub.co/post/115381704368/new-pdf-viewer" do %><em class="fa fa-star"></em> New PDF Viewer<% end %></p>
  </div>
</div>