<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-rocket"></em> Welcome to the all-new platform built for musicians! <%= user_signed_in? ? "Thank you for joining us!" :"Sign up today and become a founding member!" %></p>
  </div>
</div>