<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-exclamation-triangle"></em> SheetHub is in public testing phase. Feel free to play around and test things out!</p>
  </div>
</div>