<div class="nav-strip alpha">
  <div class="container-fluid">
    <p><em class="fa fa-rocket"></em> Welcome to the all-new platform built for musicians! <%= link_to "Learn More", features_url %></p>
  </div>
</div>