<footer class="panel-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="brand" href="<%= root_path %>" >SheetHub</a>
                <p class="copyright">An open platform built for musicians</p>
                <ul class="list-inline">
                    <li><%= link_to "Help", faq_path %></li>
                    <li> · </li>
                    <li><%= link_to "Guidelines", community_guidelines_path %></li>
                    <li> · </li>
                    <li><%= link_to "Terms", terms_path %></li>
                    <li> · </li>
                    <li><a href="mailto:support@sheethub.co">Contact</a></li>
                </ul>
            </div>
    </div>
    </div>
</footer>
