
<footer class="panel-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand" href="<%= sheets_path %>">© 2014 SheetHub</a>
                <ul class="list-inline">
                    <li> · </li>
                    <li><a href="<%= about_path %>">About</a></li>
                    <li> · </li>
                    <li><a href="http://forum.sheethub.co">Community</a></li>
                    <li> · </li>
                    <li><a href="http://blog.sheethub.co"> Blog</a></li>
                    <li> · </li>
                    <li><a href="http://sheethub.uservoice.com/knowledgebase">Support</a></li>
                    <li> · </li>
                    <li><%= link_to "Terms", terms_path %></li>
                    <li> · </li>
                    <li><%= link_to "Privacy", privacy_path %></li>
                </ul>
        </div>
    </div>
</footer>
