<div class="navbar-form input-group search-bar">
  <form action="<%= search_path %>" method="get">
    <div id="scrollable-dropdown-menu" class="has-feedback">
      <%= text_field_tag :q, params[:q], id:"search_form", class:"typeahead form-control", placeholder:"Search" %>
      <i class="fa fa-search form-control-feedback"></i>
  </div>
</form>
</div>