<div id="banner" class="footer-banner">
    <h3>Share your music on Sheethub</h3>
    <a href="<%= new_sheet_path %>" class="btn btn btn btn-success btn-sleek"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
</div>
