<div id="banner" class="footer-banner">
    <h3>New to SheetHub? Join Now!</h3>
    <a href="<%= new_registration_path(:user) %>" class="btn btn btn btn-success btn-sleek"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
</div>
