<% if !user_signed_in? %>
<div class="animated-banner footer-banner">
    <h1>Join a growing community of musicians. <a href="<%= new_user_registration_url %>" class="btn btn-inline btn-success btn-banner btn-lg center-block"> Sign Up Today</a> <a href="<%= faq_path %>#sheethub-benefits" class="btn btn-default btn-inline btn-lg center-block"> Learn More</a></h1>
</div>
<% end %>