<% if user_signed_in? %>
<div class="animated-banner footer-banner">
    <h1>Publish your work on SheetHub <a href="<%= sheet_upload_url %>" class="btn btn-success btn-inline btn-banner btn-lg center-block"><em class="fa fa-plus"></em> Upload</a> <a href="<%= features_url %>" class="btn btn-default btn-inline btn-lg center-block"> Learn More</a></h1>
</div>
<% end %>