<% if current_user %>
<div class="animated-banner footer-banner">
    <h1>Publish your work on SheetHub</h1>
    <a href="<%= sheet_upload_path %>" class="btn btn-success btn-banner btn-lg center-block"> Upload</a>
</div>
<% end %>