<div class="animated-banner footer-banner">
    <h1><a href="<%= sheet_upload_url %>" class="btn btn-success btn-inline btn-banner btn-lg center-block"><em class="fa fa-cloud-upload"></em> Start Publishing</a> <a href="<%= support_url %>" class="btn btn-default btn-inline btn-lg center-block"> Learn More</a></h1>
</div>